.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Block Behavior
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Block Drops
                :markdown
                    This module can be used to customize what items drop when blocks are broken, and what the broken block is replaced with. All sub-elements are optional, if there are no elements blocks will simply drop nothing.

                    Custom drops also apply to blocks broken by explosions. The custom drops are reduced by 70% just like default explosion drops, though this can be customized through the [TNT module](/modules/tnt). Blocks broken by means other than mining or explosions currently do not cause custom drops.


                    ##### Rule Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<filter>')
                                %td Filter what blocks get modified by this rule.
                                %td
                                    %a{:href => "/modules/filters"} Filters
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<region>')
                                %td The region this rule applies to, treated as a region union.
                                %td
                                    %a{:href => "/modules/regions"} Regions
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<drops>')
                                %td The items which get dropped when a matching block is mined.
                                %td
                                    %a{:href => "/modules/items"} Items
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<experience>')
                                %td The amount of XP that gets dropped.
                                %td
                                    %span.label.label-primary Number
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<replacement>')
                                %td What to replace the mined block with. (Defaults to air)
                                %td
                                    %a{:href => "http://jd.bukkit.org/dev/apidocs/org/bukkit/Material.html"} Bukkit Material
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<wrongtool>')
                                %td Drop items regardless of what tool was used to mine the block.
                                %td
                                    %span.label.label-primary true/false


                :markdown

                    The `<filter>` element is used to limit the rule to particular blocks. If multiple filters are listed, the rule will apply when *any* of them match. This filter is usually used to only filter what blocks the rule applies to. If filters such as `<team>` are used then no items or XP will drop if the block is mined by a non-matching player, the rules `<replacement>` material will still take effect however.

                    Items specified in the `<drops>` element can have any of the item attributes such as custom names, enchantments, attributes, etc. XP orbs are dropped by specifying the amount in the `<experience>` tag.

                    By default, custom drops won't appear if a block is mined with the "wrong" tool, e.g. stone mined with a shovel.
                    If `<wrongtool>true</wrongtool>` is added, the custom drops will happen regardless of what tool was used.

                    Examples

                        <blockdrops>
                            <rule>
                                <region>
                                    <cuboid min="1,2,3" max="4,5,6"/>
                                </region>
                                <!-- Make iron blocks and ore drop iron ingots, and 1 XP -->
                                <filter>
                                    <block>iron ore</block>
                                    <block>iron block</block>
                                </filter>
                                <drops>
                                    <item>iron ingot</item>
                                </drops>
                                <experience>1</experience>
                                <!-- Replace mined iron blocks and ore with stone -->
                                <replacement>stone</replacement>
                                <wrongtool>false</wrongtool>
                            </rule>
                        </blockdrops>

                    ````
                    <blockdrops>
                        <!-- Emerald ore blocks drop ore instead of emerald items -->
                        <rule>
                            <filter>
                                <block>emerald ore</block>
                            </filter>
                            <drops>
                                <item>emerald ore</item>
                            </drops>
                        </rule>
                    </blockdrops>
                    ````


                    <br/>
                    ### Explosion behavior

                    The behavior for blocks that become airborne due to explosions can be modified in addition to all the other drop rules. 

                    ##### Rule Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<fall-chance>')
                                %td The percentage of blocks that will change to falling blocks when exploded.
                                %td
                                    %span.label.label-primary 0 - 1.0
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<land-chance>')
                                %td The percentage of falling blocks that will change back to real blocks when they land. 
                                %td
                                    %span.label.label-primary 0 - 1.0
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<fall-speed>')
                                %td A multiplier for the velocity of the blocks flying out from a explosion.
                                %td
                                    %span.label.label-primary Number
                :markdown

                    Examples

                        <blockdrops>
                            <rule>
                                <!-- 50% of blocks broken by an explosion get turned into falling/flying blocks -->
                                <fall-chance>0.5</fall-chance>
                                <!-- 80% of the falling blocks will be placed when they land -->
                                <land-chance>0.8</land-chance>
                           </rule>

                            <rule>
                                <region>
                                    <region name="central-region"/>
                                </region>
                                <!-- Increase the speed of flying blocks by 50% in the central region -->
                                <fall-speed>1.5</fall-speed>
                           </rule>
                        </blockdrops>

