.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Control Points"
                :markdown
                    Control point give a certain amount of point to the team currently holding it. Once a team has captured all points, or reached a certain score (using the [score module](/modules/scoring)) the match ends. Control points can be mixed with and used in addition to other gamemodes. Other uses of control points include unlocking an area of the map using objective filters, etc.

                        <control-points capture-players="lead" incremental="true" show-progress="true">
                            <control-point name="Center" capture-time="20s">
                                <capture><cylinder base="0.5,23,7.5" radius="7" height="5"/></capture>
                                <progress><cylinder base="0.5,22,7.5" radius="7" height="4"/></progress>
                                <captured><cylinder base="0.5,64,7.5" radius="7" height="5"/></captured>
                            </control-point>
                        </control-points>

                %h5 Control Point Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th{:style => "min-width: 150px;"} Attribute
                                %th Description
                                %th{:style => "min-width: 100px;"} Value
                                %th Default
                                %th KotH
                        %tbody
                            %tr
                                %td
                                    %code id
                                %td Unique identifier used to reference control points from other places in the XML.
                                %td
                                    %span.label.label-primary String
                                %td{:colspan => "2"}
                            %tr
                                %td
                                    %code name
                                %td
                                    Name of the control point, displayed on the scoreboard.
                                %td
                                    %span.label.label-primary String
                                %td{:colspan => "2"}
                            %tr
                                %td
                                    %code capture-time
                                %td
                                    Time to capture the control point.
                                %td
                                    %a{:href => "/reference/time_periods"} Time Period
                                %td{:colspan => "2"} 30 sec
                            %tr
                                %td
                                    %code points
                                %td
                                    Points to give per second to the owning team.
                                %td
                                    %span.label.label-primary Number
                                %td{:colspan => "2"} 1

                            %tr
                                %td
                                    %code points-growth
                                %td
                                    Number of seconds for the point rate to double.
                                    If given, the rate at which the control point gives points
                                    will exponential increase with time.
                                %td
                                    %span.label.label-primary Number
                                %td{:colspan => "2"}

                            %tr
                                %td
                                    %code capture-rule
                                %td
                                    Rule used to decide who is in control of the point at any given moment.
                                %td
                                    %a{:href => "#capture_rule"} Capture Rule
                                %td{:colspan => "2"}
                                    exclusive
                            %tr
                                %td
                                    %code time-multiplier
                                %td
                                    Adjust capture time relative to the amount of team players on the control point.
                                %td
                                    %span.label.label-primary Decimal
                                %td
                                    0
                                %td
                                    0.1
                            %tr
                                %td
                                    %code show-progress
                                %td
                                    Show capture percentage in the sidebar.
                                %td
                                    %span.label.label-primary true/false
                                %td
                                    false
                                %td
                                    true
                            %tr
                                %td
                                    %code neutral-state
                                %td
                                    Control point must be un-captured before it can be captured again.
                                %td
                                    %span.label.label-primary true/false
                                %td
                                    false
                                %td
                                    true
                            %tr
                                %td
                                    %code incremental
                                %td
                                    Capture progress is retained even if capturing is interrupted.
                                %td
                                    %span.label.label-primary true/false
                                %td
                                    false
                                %td
                                    true
                            %tr
                                %td
                                    %code permanent
                                %td
                                    Control point can only be captured once during the match.
                                %td
                                    %span.label.label-primary true/false
                                %td
                                    false
                                %td
                                    true
                            %tr
                                %td
                                    %code initial-owner
                                %td
                                    The team owning the control point when the match starts.
                                %td
                                    %a{:href => "/modules/teams"} Team Name
                                %td{:colspan => "2"}
                            %tr
                                %td
                                    %code show
                                %td
                                    Show the objective in the interface and fire fireworks on completion.
                                    %br
                                    %i Hidden goals do not count towards a players completed objectives & do not give raindrops.
                                %td
                                    %span.label.label-primary true/false
                                %td{:colspan => "2"} true
                            %tr
                                %td
                                    %code visual-materials
                                %td
                                    Filter the materials modified when updating the progress regions.
                                    %br
                                    %i Defaults to wool, carpet, stained clay, stained glass & stained glass panes.
                                %td
                                    %a{:href => "/modules/filters"} Block Filter
                                %td{:colspan => "2"}
                            %tr
                                %td
                                    %code capture
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    %span.label.label-danger Required
                                    Region where this control point can be captured.
                                %td
                                    %a{:href => "/modules/regions"} Region
                                %td{:colspan => "2"}
                            %tr
                                %td
                                    %code progress
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Region where this control points progress is displayed.
                                %td
                                    %a{:href => "/modules/regions"} Bounded Region
                                %td{:colspan => "2"}
                            %tr
                                %td
                                    %code captured
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Region where this control points owner is displayed.
                                %td
                                    %a{:href => "/modules/regions"} Bounded Region
                                %td{:colspan => "2"}
                            %tr
                                %td
                                    %code capture-filter
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Filter teams that can capture this control point, defaults to all teams. Teams that don't match this filter can still prevent other teams from capturing by standing on the control point. They can also uncapture the control point if neutral-state is enabled.
                                %td
                                    %a{:href => "/modules/filters"} Filter
                                %td{:colspan => "2"}
                            %tr
                                %td
                                    %code player-filter
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Filter players who can control this control point. Players who don't match this filter cannot affect the control point in any way.
                                %td
                                    %a{:href => "/modules/filters"} Filter
                                %td{:colspan => "2"}


                %h5 Control Point Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th{:style => "min-width: 160px;"} Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<capture>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    %span.label.label-danger Required
                                    The region players have to stand in to capture the control point.
                                %td
                                    %a{:href => "/modules/regions"} Regions
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<progress>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    The region to display capture progress.
                                %td
                                    %a{:href => "/modules/regions"} Bounded Regions
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<captured>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    The region to display if the control point is captured.
                                %td
                                    %a{:href => "/modules/regions"} Bounded Regions
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<capture-filter>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    Filter teams that can capture this control point, defaults to all teams. Teams that don't match this filter can still prevent other teams from capturing by standing on the control point. They can also uncapture the control point if neutral-state is enabled.
                                %td
                                    %a{:href => "/modules/filters"} Filters
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<player-filter>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    Filter players who can control this control point. Players who don't match this filter cannot affect the control point in any way.
                                %td
                                    %a{:href => "/modules/filters"} Filters

                :markdown
                    ##### [Capture Rule](id:capture_rule)
                    The capture rule defines the logic used to decide which team is in control of the point. Values for `capture-rule` can be one of the following:

                    * `exclusive` The team must be the only team with players on the control point. (default)
                    * `majority` The team must have more players on the control point than all other teams combined.
                    * `lead` The team must have more players on the control point than any other single team.

                    Players who match either `capture-filter` or `player-filter` are counted when calculating the `capture-rule`. Players who don't match either filter cannot affect the control point at all.

                    <br/>
                    #### Control Point Regions

                    Capture progress is displayed inside the defined `<progress>` region using the dominating teams color. After a control point is captured the `<captured>` region is also filled with that color. The progress and captured regions must be bounded regions, e.g. cylinders & cuboids will work, circles and squares will not. Only the default visual materials or materials defined in `visual-materials` will be modified in the progress regions when they are updated.
