.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            - @page_nav_content = [\
            - {"path" => "#shaped", "name" => "Shaped"},\
            - {"path" => "#shapeless", "name" => "Shapeless"},\
            - {"path" => "#smelt", "name" => "Smelt"}]
            = partial('modules_sidebar')

            .col-sm-9
                .page-header
                    %h1
                        = partial('page_nav_dropdown')
                        = @page_sub_title = "Crafting Recipes"

                :markdown
                    The crafting module allows custom shaped and shapeless crafting recipes and smelting products. Vanilla recipes for a specific material can also be disabled to prevent crafting of that material except with the new recipe.


                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<crafting> </crafting>')
                                %td
                                    Node containing the custom crafting recipes.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<shaped>')
                                %td
                                    %a.left-ref-link{:href=>"#shaped"} <i class="fa fa-chevron-down"></i>
                                    A shaped crafting recipe node.
                                %td
                                    %span.label.label-default Shaped Recipe Sub-elements
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<shapeless>')
                                %td
                                    %a.left-ref-link{:href=>"#shapeless"} <i class="fa fa-chevron-down"></i>
                                    A custom shapeless recipe node.
                                %td
                                    %span.label.label-default Shapeless Recipe Sub-elements
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<smelt>')
                                %td
                                    %a.left-ref-link{:href=>"#smelt"} <i class="fa fa-chevron-down"></i>
                                    A custom smelting recipe.
                                %td
                                    %span.label.label-default Smelt Recipe Sub-elements
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<disable>')
                                %td Disable all vanilla recipes for this item.
                                %td
                                    %a{:href => "/reference/inventory#material_matchers"} Single Material Pattern

                %h5 Recipe Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %code override
                                %td
                                    Disable all vanilla recipes for the same item. This is just a convenient alternative to the
                                    %code= html_escape('<disable>')
                                    element.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code override-all
                                %td
                                    Override all vanilla recipes resulting in this material.
                                %td
                                    %span.label.label-primary true/false
                                %td false

                %h5 Recipe Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Type
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<result>')
                                %td
                                    %span.label.label-danger Required
                                    %span.label.label-warning{:title => "Only one of this child permitted per parent"} Unique
                                    The result of this recipe, only one result is allowed per recipe.
                                    %br
                                    Accepts all attributes and sub-elements of a normal kit item.
                                %td
                                    %a{:href => "/modules/items"} Item


                :markdown
                    <br/>
                    #### [Shaped Recipes](id:shaped)
                    Shaped recipes require that their items are arranged in a specific location on the crafting grid.

                    The crafting grid is represented inside `<shape>` using `<row>` elements.
                    A `<row>` element contains a string with up to 3 symbols specifying the ingredient at that spot in the grid.
                    An ingredients symbol is defined in the `<ingredient symbol="">` attribute.

                    A shaped recipe does not need to specify all 3 rows of a crafting grid, only one row is required.
                    All columns in a shaped recipe need to be the same width.
                    Blank ingredient spots are specifed with a dot `.`.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<shaped> </shaped>')
                                %td
                                    A shaped crafting recipe node.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<shape>')
                                %td
                                    %span.label.label-danger Required
                                    %span.label.label-warning{:title => "Only one of this child permitted per parent"} Unique
                                    An ingredient used in this recipe.
                                    %br
                                    %i Only one shape per recipe is allowed.
                                %td
                                    %pre
                                        %code= html_escape('<row>')
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<ingredient>')
                                    |
                                    %pre
                                        %code= html_escape('<i>')
                                %td
                                    %span.label.label-danger Required
                                    An ingredient used in this recipe.
                                    %br
                                    A shaped recipe requires at least one ingredient.
                                %td
                                    %a{:href => "/reference/inventory#material_matchers"} Single Material Pattern

                %h5 Shape Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code=  html_escape('<row>')
                                %td
                                    A row in the recipe crafting shape.
                                %td
                                    %span.label.label-default Row String


                %h5 Shaped Ingredient Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %code symbol
                                %td
                                    %span.label.label-danger Required
                                    The symbol used to specify this ingredients grid location in the recipe.
                                %td
                                    %span.label.label-primary Single Character
                                %td A-Z 0-9

                :markdown
                    Example

                        <crafting>
                            <!-- Add custom shaped recipe and disable vanilla recipes for the same item. -->
                            <shaped override="true">
                                <result material="stone pickaxe">
                                    <enchantment level="2">durability</enchantment>
                                </result>
                                <shape>
                                    <row>FFF</row>
                                    <row>.S.</row>
                                    <row>.S.</row>
                                </shape>
                                <ingredient symbol="F">flint</ingredient >
                                <ingredient symbol="S">stick</i>
                            </shaped>

                            <!-- 3x1 recipe, cheaper gold ingots -->
                            <shaped override="true">
                                <result material="gold ingot"/>
                                <shape>
                                    <row>GGG</row>
                                </shape>
                                <ingredient symbol="G">gold nugget</ingredient >
                            </shaped>
                        </crafting>


                    <br/>
                    #### [Shapeless Recipes](id:shapeless)
                    Unlike a shaped recipe, shapeless recipes do not require that their items are arranged in any specific way in the crafting grid.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<shapeless> </shapeless>')
                                %td
                                    A custom shapeless recipe node.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<ingredient>')
                                    |
                                    %pre
                                        %code= html_escape('<i>')
                                %td
                                    %span.label.label-danger Required
                                    An ingredient used in this recipe.
                                    %br
                                    A shapeless recipe requires at least one ingredient.
                                %td
                                    %a{:href => "/reference/inventory#material_matchers"} Single Material Pattern

                %h5 Shapeless Ingredient Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %code amount
                                %td
                                    Amount of items of this type required for this recipe.
                                    %br
                                    %i Items must be in separate slots, not stacked, for this recipe to work.
                                %td
                                    %span.label.label-primary Number
                                %td 1-9

                :markdown
                    Example

                        <crafting>
                            <shapeless>
                                <result material="redstone"/>
                                <ingredient>sugar</ingredient>
                                <ingredient amount="3">ink sack:1</ingredient>
                            </shapeless>
                        </crafting>

                    <br/>
                    #### [Smelt Recipes](id:smelt)
                    Smelt recipes specify what a material gets smelted into in a furnace.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<smelt> </smelt>')
                                %td
                                    A custom smelting recipe.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<ingredient>')
                                    |
                                    %pre
                                        %code= html_escape('<i>')
                                %td
                                    %span.label.label-danger Required
                                    %span.label.label-warning{:title => "Only one of this child permitted per parent"} Unique
                                    An ingredient used in this recipe.
                                    %br
                                    A smelt recipe only accepts one ingredient.
                                %td
                                    %a{:href => "/reference/inventory#material_matchers"} Single Material Pattern
                :markdown
                    Example

                        <crafting>
                            <smelt>
                                <result amount="16" material="torch"/>
                                <ingredient>stick</ingredient>
                            </smelt>
                        </crafting>

