.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Capture the Wool"
                :markdown
                    Players have to retrieve wool blocks from the enemy teams side of the map and then put them on their victory monument(s). The area a wool has to be placed in is protected by default to prevent it from being blocked with another block.

                        <wools>
                            <wool team="blue" color="lime">
                                <monument><block>0.5,11,-92.5</block></monument>
                                <!-- Blue team has to place a lime wool block at 0.5,11,-92.5 to win -->
                            </wool>
                            <wool team="green" color="light blue" craftable="false">
                                <monument><block>0.5,11,93.5</block></monument>
                                <!-- Light blue wool can not be crafted, it must be picked up -->
                            </wool>
                        </wools>

                    ##### Wool Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code id
                                %td Unique identifier used to reference wool monuments from other places in the XML.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr.danger{:title => "Required"}
                                %td
                                    %code team
                                %td The team which has to place the wool.
                                %td
                                    %a{:href => "/modules/teams"} Team Name
                                %td
                            %tr.danger{:title => "Required"}
                                %td
                                    %code color
                                %td The wools color.
                                %td
                                    %a{:href => "/reference/colors"} Dye Color Name
                                %td
                            %tr.danger{:title => "Required, either the attribute or sub-element is required"}
                                %td
                                    %code monument
                                %td
                                    The monument where the wool has to be placed.
                                    %br
                                    %i
                                        Can be either this attribute or a
                                        %code= html_escape('<monument>')
                                        sub-element.
                                %td
                                    %a{:href => "/modules/regions"} Region
                                %td
                            %tr
                                %td
                                    %code craftable
                                %td Specify if the wool can be crafted, e.g. with white wool and dye.
                                %td
                                    %span.label.label-primary true/false
                                %td
                            %tr
                                %td
                                    %code show
                                %td
                                    Specify if the objective should be hidden from all visible locations to the player. These locations include chat, the boss bar, and the scoreboard.
                                    %br
                                    %i If set to false, the objective will not be logged to the database and the player will not receive any raindrops upon completion.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr.danger{:title => "Required after proto 1.3.4"}
                                %td
                                    %code location
                                %td Location where the wool can be found at, used to determine proximity.
                                %td
                                    %span.label.label-primary X,Y,Z
                                %td
                            %tr
                                %td
                                    %code woolproximity-metric
                                %td
                                    Metric used to determine proximity to the wool.
                                    %br
                                    Accepts <code>closest player</code>, <code>closest block</code> or <code>closest kill</code>
                                %td
                                    %span.label.label-primary Proximity Metric
                                %td
                                    %code closest kill
                            %tr
                                %td
                                    %code woolproximity-horizontal
                                %td
                                    Only calculate horizontal distance for wool proximity.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code monumentproximity-metric
                                %td
                                    Metric used to determine proximity to the monument.
                                    %br
                                    Accepts <code>closest player</code>, <code>closest block</code> or <code>closest kill</code>
                                %td
                                    %span.label.label-primary Proximity Metric
                                %td
                                    %code closest block

                            %tr
                                %td
                                    %code monumentproximity-horizontal
                                %td
                                    Only calculate horizontal distance for monument proximity.
                                %td
                                    %span.label.label-primary true/false
                                %td false

                %h5 Wool Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr.danger{:title => "Required, either the attribute or sub-element is required"}
                                %td
                                    %pre
                                        %code= html_escape('<monument>')
                                %td
                                    The monument where the wool has to be placed.
                                    %br
                                    %i
                                        Can also be specified in the
                                        %code monument
                                        attribute of the wool.
                                %td
                                    %a{:href => "/modules/regions"} Region

                :markdown
                    You can group multiple victory monuments from the same team inside a single `<wools team="team name">` element; and then define that teams individual wool colors inside of a `<wool>` element.

                        <wools team="red">
                            <wool color="cyan" location="32.5,14,0.5">
                                <monument><block>-60,26,-118</block></monument>
                            </wool>
                            <wool color="lime" location="0.5,10,21.5">
                                <monument><block>-60,26,-121</block></monument>
                            </wool>
                        </wools>

                        <wools team="blue">
                            <wool color="magenta" location="-32.5,14,0.5" monument="magenta-monument"/>
                            <wool color="lime" location="0.5,10,21.5" monument="lime-monument"/>
                        </wools>
