.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1
                        King of the Hill
                :markdown
                    KotH is a gamemode in which you capture and hold a hill to collect points. The first team to reach a preset amount of points wins. A KotH map can have multiple hills each with their own attributes such as capture time, etc.

                        <king>
                            <hills>
                                <hill name="Hill" capture-time="10s" points="1">
                                    <capture><region name="hill"/></capture>
                                    <progress><cuboid min="-5,71,-5" max="5,71,5"/></progress>
                                    <!-- If you don't want to have an area change color when captured use this region -->
                                    <!-- This is a 'hack,' as you must have this region for the hill to work -->
                                    <captured><cuboid min="0,0,0" max="0,0,0"/></captured>
                                </hill>
                            </hills>
                        </king>

                    ##### Hill Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th{:style => "min-width: 215px;"} Attribute
                                %th Description
                                %th{:style => "min-width: 100px;"} Value
                        %tbody
                            %tr
                                %td
                                    %code id=""
                                %td Unique identifier used to reference hills from other places in the XML.
                                %td
                                    %span.label.label-primary String
                            %tr
                                %td
                                    %code name=""
                                %td
                                    Name of the hill, displayed on the scoreboard.
                                %td
                                    %span.label.label-primary String
                            %tr
                                %td
                                    %code capture-time="30s"
                                %td
                                    Time to capture the hill.
                                %td
                                    %a{:href => "/reference/time_periods"} Time Period
                            %tr
                                %td
                                    %code points="1"
                                %td
                                    Points to give per second to the owning team.
                                %td
                                    %span.label.label-primary Number

                            %tr
                                %td
                                    %code points-growth="oo"
                                %td
                                    Number of seconds for the point rate to double.
                                    If given, the rate at which the hill gives points
                                    will gradually increase with time.
                                %td
                                    %span.label.label-primary Number

                            %tr
                                %td
                                    %code capture-rule="exclusive"
                                %td
                                    Rule used to decide who is in control of the point at any given moment.
                                %td
                                    %a{:href => "#capture_rule"} Capture Rule
                            %tr
                                %td
                                    %code time-multiplier="0"
                                %td
                                    Adjust capture time relative to the amount of team players on the hill.
                                    %br
                                    %i Defaults to 0.1 on KotH maps.
                                %td
                                    %span.label.label-primary Float
                            %tr
                                %td
                                    %code show-progress="false"
                                %td
                                    Show capture percentage in the sidebar.
                                %td
                                    %span.label.label-primary true/false
                            %tr
                                %td
                                    %code neutral-state="false"
                                %td
                                    Hill must be un-captured before it can be captured again.
                                %td
                                    %span.label.label-primary true/false
                            %tr
                                %td
                                    %code incremental="false"
                                %td
                                    Capture progress is retained even if capturing is interrupted.
                                %td
                                    %span.label.label-primary true/false
                            %tr
                                %td
                                    %code permanent="false"
                                %td
                                    Hill can only be captured once during the match.
                                %td
                                    %span.label.label-primary true/false
                            %tr
                                %td
                                    %code initial-owner=""
                                %td
                                    The team owning the hill when the match starts.
                                %td
                                    %a{:href => "/modules/teams"} Team Name
                            %tr
                                %td
                                    %code show="true"
                                %td
                                    Specify if the objective should be hidden from all visible locations to the player. These locations include chat, the boss bar, and the scoreboard.
                                    %br
                                    %code NOTE:
                                    The objective will also not be logged to the Database and the player will not recieve any raindrops upon completion.
                                %td
                                    %span.label.label-primary true/false
                            %tr
                                %td
                                    %code visual-materials=""
                                %td
                                    Filter the materials modified when updating the progress regions.
                                    %br
                                    %i Defaults to wool, carpet, stained clay, stained glass & stained glass panes
                                %td
                                    %a{:href => "/modules/filters"} Block Filter
                            %tr.danger.text-danger{:title => "Required, either the attribute or sub-element is required"}
                                %td
                                    %code capture=""
                                %td
                                    Region where this control point can be captured
                                    %br
                                    %i 
                                        Can be either this attribute or a  
                                        %code= html_escape('<capture>')
                                        sub-element.
                                %td
                                    %a{:href => "/modules/regions"} Region
                            %tr
                                %td
                                    %code progress=""
                                %td
                                    Region where this control points progress is displayed
                                    %br
                                    %i 
                                        Can be either this attribute or a  
                                        %code= html_escape('<progress>')
                                        sub-element.
                                %td
                                    %a{:href => "/modules/regions"} Region
                            %tr
                                %td
                                    %code captured=""
                                %td
                                    Region where this control points owner is displayed
                                    %br
                                    %i 
                                        Can be either this attribute or a  
                                        %code= html_escape('<captured>')
                                        sub-element.
                                %td
                                    %a{:href => "/modules/regions"} Region

                :markdown
                    ##### [Capture Rule](id:capture_rule)
                    The capture rule defines the logic used to decide which team is in control of the hill. Values for `capture-rule` can be one of the following:

                    * `exclusive` The team must be the only team with players on the hill. (default)
                    * `majority` The team must have more players on the hill than all other teams combined.
                    * `lead` The team must have more players on the hill than any other single team.

                    Players who match either `capture-filter` or `player-filter` are counted when calculating the `capture-rule`. Players who don't match either filter cannot affect the hill at all.


                    ##### Hill Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th{:style => "min-width: 160px;"} Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr.danger.text-danger{:title => "Required, either the attribute or sub-element is required"}
                                %td
                                    %pre
                                        %code= html_escape('<capture>')
                                %td
                                    The region players have to stand in to capture the hill.
                                    %br
                                    %i
                                        Can also be specified in the
                                        %code= html_escape('capture')
                                        attribute of the hill.
                                %td
                                    %a{:href => "/modules/regions"} Regions
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<progress>')
                                %td
                                    The region to display capture progress.
                                    %br
                                    %i
                                        Can also be specified in the
                                        %code= html_escape('progress')
                                        attribute of the hill.
                                %td
                                    %a{:href => "/modules/regions"} Regions
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<captured>')
                                %td
                                    The region to display if the hill is captured.
                                    %br
                                    %i
                                        Can also be specified in the
                                        %code= html_escape('captured')
                                        attribute of the hill.
                                %td
                                    %a{:href => "/modules/regions"} Regions
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<capture-filter>')
                                %td
                                    Filter teams that can capture this hill, defaults to all teams. Teams that don't match this filter can still prevent other teams from capturing by standing on the hill. They can also uncapture the hill if neutral-state is enabled.
                                %td
                                    %a{:href => "/modules/filters"} Filters
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<player-filter>')
                                %td
                                    Filter players who can control this hill. Players who don't match this filter cannot affect the hill in any way.
                                %td
                                    %a{:href => "/modules/filters"} Filters

                :markdown
                    Capture progress is displayed inside the defined `<progress>` region using the dominating teams wool/clay/glass color. After a hill is captured the `<captured>` region is also filled with that teams wool/clay/glass color. If the `<captured>` region is not present it will use the `<progress>` region to display captured status. The progress and captured regions must be cuboids otherwise the plugin will throw an error.

                    <br/>
                    #### [Scoring](id:scoring)
                    KotH games use the `<score>` module to end the game when one team reaches a preset amount of points. The `<king/>` tag prevents teams from getting points when killing players, this means they have to actually capture the hill to get points.

                        <score>
                            <limit>500</limit>
                            <king/>
                        </score>
