.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Blitz"
                :markdown
                    The game will run for a specified amount of time, players will have to find and kill enemy players.
                    Each player has a limited amount of lives, and after they are used up the player is moved to the observer team.
                    The match ends after the specified amount of time, or when one team is eliminated.
                    If the match timer ends before a team is eliminated the team with the most players remaining wins.

                    The blitz module is used with the [Ghost Squadron](/modules/gamemode_other#gs) gamemode, and is also often combined with the [rage](/modules/gamemode_other#rage) module.

                    Blitz maps should include the [global blitz XML](https://maps.oc.tc/Blitz/blitz-global.xml) file.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Blitz Element
                                %th Description
                                %th
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<blitz> </blitz>')
                                %td{:colspan => "3"} A node containing the blitz gamemode settings.
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                                %th Default
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<lives>')
                                %td
                                    The amount of lives each player has before they are out of the match.
                                %td
                                    %span.label.label-primary Number
                                %td 1
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<broadcastLives>')
                                %td
                                    Broadcast to the player the amount of lives they have left.
                                %td
                                    %span.label.label-primary true/false
                                %td true

                :markdown
                    Example:

                        <blitz>
                            <lives>1</lives>
                            <broadcastLives>false</broadcastLives>
                        </blitz>

                        <!-- Time till the match ends in minutes -->
                        <time>10m</time>

                        <include src="blitz-global.xml"/>

                    ````
                    <blitz/>    <!-- Use the default blitz settings -->
                    ````
