.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Blitz"
                :markdown
                    The game will run for a specified amount of time, players will have to find and kill enemy players. Each player has a limited amount of lives, and after they are used up the player is moved to the observer team. The match ends after the specified amount of time, or when one team is eliminated. If the match timer ends before a team is eliminated the team with the most players remaining wins.

                    Blitz maps should include the [global blitz XML](https://maps.oc.tc/Blitz/blitz-global.xml) file.

                %h5 Blitz Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<lives>')
                                %td
                                    The amount of lives each player has before they are out of the match.
                                %td
                                    %span.label.label-primary Number
                                %td 1
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<broadcastLives>')
                                %td
                                    Broadcast to the player the amount of lives they have left.
                                %td
                                    %span.label.label-primary true/false
                                %td true

                :markdown
                    Example:

                        <blitz>
                            <lives>1</lives>
                            <broadcastLives>false</broadcastLives>
                        </blitz>

                        <!-- Time till the match ends in minutes -->
                        <time>10m</time>

                        <include src="blitz-global.xml"/>

