.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Destroy the Core"
                :markdown
                    Players have to locate and break the enemy team's core, usually an obsidian sphere filled with lava. The lava has to leak down a certain distance for the core to be destroyed. Lava should not be available anywhere else on the map, otherwise a core leak could be faked. This can also be avoided by keeping the lava far away enough from the core and not giving players buckets or the ability to craft them.

                    ##### Core Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code id
                                %td Unique identifier used to reference cores from other places in the XML.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code name
                                %td The core's name, used in notification messages.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr.danger{:title => "Required"}
                                %td
                                    %code region
                                %td
                                    A region containing the core.
                                    %br
                                    %i
                                        Can be either this attribute or a
                                        %code= html_escape('<region>')
                                        sub-element.
                                %td
                                    %a{:href => "/modules/regions"} Region
                                %td
                            %tr
                                %td
                                    %code leak
                                %td Distance below the bottom of the core <strong>region</strong> that the lava must leak.
                                %td
                                    %span.label.label-primary Number
                                %td 5
                            %tr
                                %td
                                    %code material
                                %td The core casing material, used to detect breaks, and for mode changes.
                                %td
                                    %a{:href => "/reference/inventory#material_finder"} Bukkit Material
                                %td obsidian
                            %tr.danger{:title => "Required"}
                                %td
                                    %code team
                                %td Team the core belongs to, i.e. its owner.
                                %td
                                    %a{:href => "/modules/teams"} Team Name
                                %td
                            %tr
                                %td
                                    %code mode-changes
                                %td
                                    Specify if this core uses
                                    = succeed "." do
                                        %a{:href => "/modules/monument_modes"} monument modes
                                %td
                                    %span.label.label-primary true/false
                                %td
                            %tr
                                %td
                                    %code show
                                %td
                                    Specify if the core should be hidden from all visible locations to the player. These locations include chat, the boss bar, and the scoreboard.
                                    %br
                                    %code NOTE:
                                    The objective will also not be logged to the Database and the player will not recieve any raindrops upon completion.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code proximity-metric
                                %td
                                    Metric used to determine proximity to the core.
                                    %br
                                    Accepts <code>closest player</code>, <code>closest block</code> or <code>closest kill</code>
                                %td
                                    %span.label.label-primary Proximity Metric
                                %td
                                    %code closest player
                            %tr
                                %td
                                    %code proximity-horizontal="false"
                                %td
                                    Only calculate horizontal distance for core proximity.
                                %td
                                    %span.label.label-primary true/false
                                %td

                %h5 Core Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr.danger{:title => "Required, either the attribute or sub-element is required"}
                                %td
                                    %pre
                                        %code= html_escape('<region>')
                                %td
                                    A region containing the core.
                                    %br
                                    %i
                                        Can also be specified in the
                                        %code region
                                        attribute of the core.
                                %td
                                    %a{:href => "/modules/regions"} Region

                :markdown

                        <cores material="obsidian" leak="8">
                            <core team="blue">
                                <region><cuboid min="10,15,12" max="12,13,16"/></region>
                            </core>
                        </cores>

                        <cores material="obsidian" leak="4">
                            <core team="red" region="red-core"/>
                        </cores>
