.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Destroy the Monument"
                :markdown
                    Players have to locate and destroy certain objects from the enemy team, such as an obsidian pillar, etc. Teams win after a specified percentage of the enemy teams destroyables are destroyed. Teams can have multiple destroyables and they can be made out of multiple materials.

                    Completion specifies how much of the material(s) inside of the monument region must be removed for it to count as destroyed. For example, if the monument is obsidian and completion is set to 100% then all the obsidian must be removed in order for the monument to count as destroyed.

                    ##### Destroyable Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code id
                                %td Unique identifier used to reference monuments from other places in the XML.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code name
                                %td
                                    %span.label.label-danger Required
                                    The destroyables name.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code region
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    %span.label.label-danger Required
                                    Region containing the destroyable.
                                %td
                                    %a{:href => "/modules/regions"} Region
                                %td
                            %tr
                                %td
                                    %code materials
                                %td
                                    The destroyables materials, multiple materials are separated with a semicolon
                                    %code ;
                                %td
                                    %a{:href => "/reference/inventory#material_finder"} Bukkit Material
                                %td
                            %tr
                                %td
                                    %code owner
                                %td
                                    %span.label.label-danger Required
                                    The destroyables owner.
                                %td
                                    %a{:href => "/modules/teams"} Team Name
                                %td
                            %tr
                                %td
                                    %code completion
                                %td Percentage of the destroyable that needs to be destroyed for a win.
                                %td
                                    %span.label.label-primary 0 - 100
                                %td 100%
                            %tr
                                %td
                                    %code mode-changes
                                %td
                                    Specify if this destroyable uses custom
                                    = succeed "." do
                                        %a{:href => "/modules/monument_modes"} monument modes
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code show-progress
                                %td
                                    Show this destroyables progress in the scoreboard.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code repairable
                                %td
                                    Specify if the destroyable can be repaired.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code sparks
                                %td
                                    Spawn fireworks particles for destroyed blocks & play the fireworks sound to all players.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code show
                                %td
                                    Specify if the objective should be hidden from all visible locations to the player. These locations include chat, the boss bar, and the scoreboard.
                                    %br
                                    %code NOTE:
                                    The objective will also not be logged to the Database and the player will not recieve any raindrops upon completion.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code proximity-metric
                                %td
                                    Metric used to determine proximity to the destroyable.
                                    %br
                                    Accepts <code>closest player</code>, <code>closest block</code> or <code>closest kill</code>
                                %td
                                    %span.label.label-primary Proximity Metric
                                %td
                                    %code closest player
                            %tr
                                %td
                                    %code proximity-horizontal
                                %td
                                    Only calculate horizontal distance for destroyable proximity.
                                %td
                                    %span.label.label-primary true/false
                                %td false

                %h5 Destroyable Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<region>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    %span.label.label-danger Required
                                    Region containing the destroyable.
                                %td
                                    %a{:href => "/modules/regions"} Region

                :markdown

                        <destroyables name="Monument" materials="obsidian" completion="100%">
                            <destroyable owner="blue">
                               <region><cuboid min="46,16,26" max="45,14,25"/></region>
                            </destroyable>
                            <destroyable owner="red">
                               <region><cuboid min="-44,16,-24" max="-45,14,-25"/></region>
                            </destroyable>
                        </destroyables>
