.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Items & Armor"
                :markdown
                    The item elements are used to place items into a players inventory or armor slots. Items have many different attributes, and some may only apply to certain item types; such as the leather armor `color` attribute.

                    Item names can be found with the [material finder](/reference/inventory#material_finder) or on the [bukkit docs - Material](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html)


                %h5 Item Element
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<item>')
                                %td
                                    %span.label.label-danger Required
                                    The item's material name.
                                %td
                                    %a{:href => "/reference/inventory#material_finder"} Material Name

                    %h5 Item Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code slot
                                %td
                                    %span.label.label-danger Required
                                    Slot where the item will be placed in the players inventory.
                                    %br
                                    %i When used in kits the slot attribute is required.
                                %td
                                    %a{:href => "/reference/inventory"} Inventory Slot
                                %td
                            %tr
                                %td
                                    %code amount
                                %td The amount of items.
                                %td
                                    %span.label.label-primary Number
                                %td 1
                            %tr
                                %td
                                    %code name
                                %td The item's name.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code enchantment
                                %td
                                    The item's enchantment(s).
                                    %a.left-ref-link{:href=>"#enchantments"} <i class="fa fa-chevron-down"></i>
                                %td
                                    %a{:href => "#enchantments"} Enchantment String
                                %td
                            %tr
                                %td
                                    %code lore
                                %td Custom lore string.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code damage
                                %td
                                    The item's damage, used for items such as birch logs.
                                    %br
                                    %i Use a damage value of <code>-3000</code> to make an tool unbreakable.
                                %td
                                    %span.label.label-primary Number
                                %td 0
                            %tr
                                %td
                                    %code attributes
                                %td
                                    Custom attributes, e.g., increased health or faster movement speed.
                                    %a.left-ref-link{:href=>"#attributes"} <i class="fa fa-chevron-down"></i>
                                %td
                                    %a{:href => "#attributes"} Attributes String
                                %td
                            %tr
                                %td
                                    %code color
                                %td
                                    Leather armor color as a hexadecimal color. <code>RRGGBB</code>
                                    %br
                                    %i Only applies to leather armor items.
                                %td
                                    %span.label.label-primary Hex Color
                                %td
                            %tr
                                %td
                                    %code potions
                                %td
                                    A potion item's potion effects.
                                    %a.left-ref-link{:href=>"#potions"} <i class="fa fa-chevron-down"></i>
                                    %br
                                    %i Only applies to potion items.
                                %td
                                    %a{:href => "#potions"} Potions String
                                %td
                            %tr
                                %td
                                    %code grenade
                                %td
                                    Projectile explodes on impact.
                                    %a.left-ref-link{:href=>"#grenades"} <i class="fa fa-chevron-down"></i>
                                    %br
                                    %i Works with ender pearls, snowballs, eggs, and arrows.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code grenade-power
                                %td The power of the grenade explosion on impact.
                                %td
                                    %span.label.label-primary Decimal
                                %td 1.0
                            %tr
                                %td
                                    %code grenade-fire
                                %td
                                    Explosion creates fire.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code grenade-destroy
                                %td
                                    Explosion destroys blocks.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                :markdown

                    Items can be give custom names and lore with the `name` and `lore` attributes. Colors and fancy text in item names or lore can be specified with the grave symbol `` ` and then the [formatting code](/reference/formatting). You can specify multiple lines of lore using a pipe symbol `|` for line breaks.

                        <item lore="Magic Dust">331</item> <!-- Redstone dust with a fancy lore. -->
                        <item name="`6Golden Sword">gold sword</item> <!-- Gold sword with a gold/yellow name. -->
                        <item lore="`4The One and Only">stick</item> <!-- A stick with the lore colored red. -->
                        <item lore="`eWarning!|`5Does damage!">iron sword</item> <!-- A sword with 2 lines of lore. -->

                    <br/>
                    ### Armor
                    Armor slots have predefined tags to make it easier to give them to a player. They accept all of the properties of normal items, and may have their own special attributes.

                        <helmet>iron helmet</helmet>
                        <chestplate>diamond chestplate</chestplate>
                        <leggings>gold leggings</leggings>
                        <boots>leather boots</boots>

                    ##### Armor Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code locked
                                %td Prevent this armor item from being removed from the armor slot in any way.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                :markdown

                    Enchanting, naming or giving armor lore works the same way as with items.

                        <boots enchantment="protection fall:1" lore="The Winged Boots of Hermes">iron boots</boots>

                    Items like leather armor are colored with the `color` attribute.
                    The color is represented in hexadecimal, see [dye colors](/reference/colors) for a list of hex colors for the different dyes.

                    `NOTE:` The hex color value is specified without the hash `#` symbol.

                        <helmet color="cd0000">leather helmet</helmet>

                    <br/>
                    ### [Custom Potions](id:potions)
                    Custom effects can be added to a potion item with the `potions` attribute. Multiple effects are separated with a semicolon `;`. The format for custom potion item effects is: `potion_name:duration:potency:ambient`. The potion item's damage value will define the potion color and if it's a splash or normal potion.

                    The item's damage specifies the potion type. [Minecraft wiki - Potions](http://www.minecraftwiki.net/wiki/Potions).


                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Specifier
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %code potion_name
                                %td The potion effects name.
                                %td
                                    %a{:href => "/reference/potion_effects"} Potion Name
                            %tr
                                %td
                                    %code duration
                                %td Length of the potion effect in minecraft ticks.
                                %td
                                    %span.label.label-primary Number
                            %tr
                                %td
                                    %code potency
                                %td What level the potion effect is, 0 is equal to a lvl 1 potion.
                                %td
                                    %span.label.label-primary 0-2
                            %tr
                                %td
                                    %code ambient
                                %td Specify if the potion effect is ambient. (Decreased and translucent particle effects.)
                                %td
                                    %span.label.label-primary true/false
                :markdown

                        <item slot="1" damage="8227" potions="fire resistance:900:0:false">potion</item>

                    <br/>
                    ### [Books](id:books)
                    Written books can be created using the book element, the tile, author and individual pages can be formatted with [formatting codes](/reference/formatting). All normal item attributes can also be applied to books.

                    Each page in a book can contain a maximum of 13 lines, with approximately 19 characters per line. Preferably books should be written in-game to ensure proper formatting, and then translated into the books element.

                %h5 Book Element
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<book>')
                                %td
                                    The element containing the books
                                    %code= html_escape('<title>')
                                    %code= html_escape('<author>')
                                    &
                                    %code= html_escape('<pages>')

                                %td
                                    %span.label.label-primary Formatted Text

                %h5 Book Elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<title>')
                                %td
                                    %span.label.label-danger Required
                                    The title of the book.
                                %td
                                    %span.label.label-primary Formatted Text
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<author>')
                                %td
                                    %span.label.label-danger Required
                                    The author of the book.
                                %td
                                    %span.label.label-primary Formatted Text
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<pages>')
                                %td The pages in the book.
                                %td
                                    %code= html_escape('<page>')
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<page>')
                                %td
                                    A newline separated string. Used inside
                                    %code= html_escape('<pages>')
                                %td
                                    %span.label.label-primary Formatted Text

                :markdown
                        <book slot="1">
                            <title>`6Example`r</title>
                            <author>`4BB-8`r</author>
                            <pages>
                                <page>
                                    `lPage `1I`r
                                    This is an example
                                </page>
                                <page>
                                    `lPage `1II`r

                                    Nothing to see here, move along...
                                </page>
                                <!-- More pages -->
                            </pages>
                        </book>

                :markdown
                    <br/>
                    ### [Enchantments](id:enchantments)

                    Items and armor can have custom enchantments by using the `enchantment` attribute. Enchantments are specified by their bukkit name and the enchantment level separated by a colon `:`. Multiple enchantments are separated by a semicolon `;`.

                    Examples

                        <item enchantment="damage all:2">iron sword</item> <!-- A sharpness II iron sword -->
                        <item enchantment="knockback:4">280</item> <!-- A knockback IV stick -->

                        <boots enchantment="protection fall:2">gold boots</boots>

                    <br/>
                    ### [Attributes](id:attributes)

                    The `attributes` attribute will allow you to set the attribute('s) for a item or a piece of armor. Look at the [attributes reference](/reference/attributes) page for a list of the different attributes. The attribute definition is separated by colons `:`, and consists of the attributes name, operation and level. Multiple attributes are separated by a semicolon `;`.

                    **Attribute Operations:**

                    * `ADD` Add level to original level value.
                    * `BASE` Add level * base to original level value.
                    * `MULTIPLY` Multiply original level value by level.

                    <br/>
                    Examples

                        <chestplate attributes="generic.knockbackResistance:add:1">chainmail chestplate</chestplate>

                        <item attributes="generic.knockbackResistance:add:1">diamond spade</item>
                        <item attributes="generic.knockbackResistance:add:1;generic.movementSpeed:add:2">diamond spade</item>

                        <!-- Unit of maxHealth is in half-hearts -->
                        <leggings attributes="generic.maxHealth:add:-6">iron leggings</leggings>

                    `NOTE:` Negative attribute values are allowed; however sometimes they don't work as expected.

                    <br/>
                    ### [Grenades](id:grenades)

                    The `grenade="true"` attribute will make the item explode on impact, just like a grenade. This option only works on items that can turn into projectiles. For example, ender pearls, snowballs, eggs, and arrows all work.

                    The `grenade-power="1.0"` attribute sets the explosion power. The default value of `1.0` will not destroy blocks, but it will damage players and set off TNT.

                    The attributes `grenade-fire="true"` and `grenade-destroy="true"` determine if the explosion creates fire and/or destroys blocks.

                    `NOTE:` If an ender pearl is used as a grenade, the player will teleport to the location and the explosion will occur.


                        <item slot="1" amount="12" name="`4Grenade" grenade="true" grenade-power="1.2">snow ball</item>
                        <item name="`a`lRocket Ammo" amount="3" enchantment="thorns" grenade="true" grenade-power="4" grenade-fire="true">arrow</item>
