.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Items & Armor"
                :markdown
                    The item elements are used to place items into a players inventory or armor slots.
                    Items have many different attributes, and some may only apply to certain item types;
                    such as the leather armor `color` attribute.

                    Item names can be found with the [material finder](/reference/inventory#material_finder)
                    or on the [bukkit docs - Material](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html)


                %h5 Item Element
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<item>')
                                %td
                                    A single item stack.

                %h5 Sub-Elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<enchantment> </enchantment>')
                                %td
                                    %a{:href => "#enchantments"} Enchantment
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<potion> </potion>')
                                %td
                                    %a{:href => "#potions"} Potion Effect
                                    (only works on potion items)
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<attribute> </attribute>')
                                %td
                                    %a{:href => "#attributes"} Attribute Modifier
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<can-destroy> </can-destroy>')
                                %td
                                    %a{:href => "#can-destroy"} Materials that can be mined with the item
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<can-place-on> </can-place-on>')
                                %td
                                    %a{:href => "#can-destroy"} Materials that the item can be placed on

                    %h5 Item Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code material
                                %td
                                    %span.label.label-danger Required
                                    The item's material name.
                                %td
                                    %a{:href => "/reference/inventory#material_finder"} Material Name
                                %td
                            %tr
                                %td
                                    %code slot
                                %td
                                    %span.label.label-danger Required
                                    Slot where the item will be placed in the players inventory.
                                    %br
                                    %i When used in kits the slot attribute is required.
                                %td
                                    %a{:href => "/reference/inventory"} Inventory Slot
                                %td
                            %tr
                                %td
                                    %code amount
                                %td The amount of items.
                                %td
                                    %span.label.label-primary Number
                                %td 1
                            %tr
                                %td
                                    %code damage
                                %td
                                    The item's damage, used for items such as birch logs.
                                %td
                                    %span.label.label-primary Number
                                %td 0
                            %tr
                                %td
                                    %code unbreakable
                                %td
                                    Specify if this item is unbreakable, hides the durability bar in minecraft.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code name
                                %td The item's display name.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code lore
                                %td Custom lore string.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code color
                                %td
                                    Leather armor color as a hexadecimal color. <code>RRGGBB</code>
                                    %br
                                    %i Only applies to leather armor items.
                                %td
                                    %span.label.label-primary Hex Color
                                %td
                            %tr
                                %td
                                    %code grenade
                                %td
                                    Projectile explodes on impact.
                                    %a.left-ref-link{:href=>"#grenades"} <i class="fa fa-chevron-down"></i>
                                    %br
                                    %i Works with ender pearls, snowballs, eggs, and arrows.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code grenade-power
                                %td The power of the grenade explosion on impact.
                                %td
                                    %span.label.label-primary Decimal
                                %td 1.0
                            %tr
                                %td
                                    %code grenade-fire
                                %td
                                    Explosion creates fire.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code grenade-destroy
                                %td
                                    Explosion destroys blocks.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code prevent-sharing
                                %td
                                    Prevent this item from being moved from the players inventory.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code projectile
                                %td
                                    Make this item shoot a custom projectile.
                                %td
                                    %a{:href => "/modules/projectiles"} Projectile ID
                                %td
                            %tr
                                %td
                                    %code show-enchantments
                                %td
                                    Show enchantments in the item tooltip.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code show-attributes
                                %td
                                    Show attribute modifiers in the item tooltip.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code show-unbreakable
                                %td
                                    Show the unbreakable property in the item tooltip.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code show-can-destroy
                                %td
                                    Show the breakable block list in the item tooltip.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code show-can-place-on
                                %td
                                    Show the blocks the item can be placed on in the item tooltip.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code show-other
                                %td
                                    Show various other things in the item tooltip.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                :markdown

                    Items can be give custom names and lore with the `name` and `lore` attributes. Colors and fancy text in item names or lore can be specified with the grave symbol `` ` and then the [formatting code](/reference/formatting). You can specify multiple lines of lore using a pipe symbol `|` for line breaks.

                        <item name="`6Golden Sword" material="gold sword"/> <!-- Gold sword with a gold/yellow name. -->
                        <item lore="`4The One and Only" material="stick"/> <!-- A stick with the lore colored red. -->
                        <item lore="`eWarning!|`5Does damage!" material="iron sword"/> <!-- A sword with 2 lines of lore. -->

                    <br/>
                    ### Armor
                    Armor slots have predefined tags to make it easier to give them to a player. They accept all of the properties of normal items, and may have their own special attributes.

                        <helmet material="iron helmet"/>
                        <chestplate material="diamond chestplate"/>
                        <leggings material="gold leggings"/>
                        <boots material="leather boots"/>

                    ##### Armor Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code locked
                                %td Prevent this armor item from being removed from the armor slot in any way.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                :markdown

                    Enchanting, naming or giving armor lore works the same way as with items.

                        <boots material="iron boots" lore="The Winged Boots of Hermes">
                            <enchantment level="1">feather_falling</enchantment>
                        </boots>

                    Items like leather armor are colored with the `color` attribute.
                    The color is represented in hexadecimal, see [dye colors](/reference/colors) for a list of hex colors for the different dyes.

                    `NOTE:` The hex color value is specified without the hash `#` symbol.

                        <helmet color="cd0000" material="leather helmet"/>

                    <br/>
                    ### [Custom Potions](id:potions)
                    Any number of custom potion effects can be added to an item in the same way they are added to kits.
                    See [Potion Effects](/modules/potions) for details.

                    This only works on the "potion" item. The potion's damage value determines its color and whether or not it is a splash potion.
                    See [Minecraft wiki - Potions](http://www.minecraftwiki.net/wiki/Potions) for details.

                :markdown

                        <item slot="1" material="potion" damage="8227">
                            <potion duration="15m">fire resistance</potion>
                        </item>

                    <br/>
                    ### [Books](id:books)
                    Written books can be created using the book element, the tile, author and individual pages can be formatted with [formatting codes](/reference/formatting). All normal item attributes can also be applied to books.

                    Each page in a book can contain a maximum of 13 lines, with approximately 19 characters per line. Preferably books should be written in-game to ensure proper formatting, and then translated into the books element.

                %h5 Book Element
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<book>')
                                %td
                                    The element containing the books
                                    %code= html_escape('<title>')
                                    %code= html_escape('<author>')
                                    &
                                    %code= html_escape('<pages>')

                                %td
                                    %span.label.label-primary Formatted Text

                %h5 Book Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<title>')
                                %td
                                    %span.label.label-danger Required
                                    The title of the book.
                                %td
                                    %span.label.label-primary Formatted Text
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<author>')
                                %td
                                    %span.label.label-danger Required
                                    The author of the book.
                                %td
                                    %span.label.label-primary Formatted Text
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<pages>')
                                %td The pages in the book.
                                %td
                                    %code= html_escape('<page>')
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<page>')
                                %td
                                    A newline separated string. Used inside
                                    %code= html_escape('<pages>')
                                %td
                                    %span.label.label-primary Formatted Text

                :markdown
                        <book slot="1">
                            <title>`6Example`r</title>
                            <author>`4BB-8`r</author>
                            <pages>
                                <page>
                                    `lPage `1I`r
                                    This is an example
                                </page>
                                <page>
                                    `lPage `1II`r

                                    Nothing to see here, move along...
                                </page>
                                <!-- More pages -->
                            </pages>
                        </book>

                :markdown
                    <br/>
                    ### [Enchantments](id:enchantments)

                    Any enchantment can be applied to any item and an item can have one or multiple enchantments.
                    The enchantment type can be specified by its
                    [Minecraft name](http://minecraft.gamepedia.com/Data_values#Enchantment_IDs) or
                    [Bukkit name](/reference/enchantments).

                %h5 Enchantment Element
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<enchantment> </enchantment>')
                                %td An item enchantment.

                                %td
                                    %a{:href => "/reference/enchantments"} Enchantment Name
                                %td

                %h5 Enchantment Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code level
                                %td The specified enchantment's level.
                                %td
                                    %span.label.label-primary Number
                                %td 1
                :markdown
                    Examples

                        <!-- A sharpness II iron sword -->
                        <item material="iron sword">
                            <enchantment level="2">sharpness</enchantment>
                        </item>

                        <!-- A knockback IV stick -->
                        <item material="stick">
                            <enchantment level="4">knockback</enchantment>
                        </item>

                        <!-- Feather falling 2 boots -->
                        <boots material="gold boots">
                            <enchantment level="2">feather_falling</enchantment>
                        </boots>

                    <br/>

                    ### [Attribute Modifiers](id:attributes)

                    Attribute modifiers can be applied to items in the same way they are applied to kits.
                    See [Attribute Kits](/modules/kits#attributes) for details.

                    Examples

                        <chestplate material="chainmail chestplate">
                            <attribute amount="1">generic.knockbackResistance</attribute>
                        </chestplate>

                        <item material="diamond spade">
                            <attribute operation="multiply" amount="2">generic.movementSpeed</attribute>
                        </item>

                    `NOTE:` Negative attribute values are allowed; however sometimes they don't work as expected.

                    <br/>
                    ### [Grenades](id:grenades)

                    The `grenade="true"` attribute will make the item explode on impact, just like a grenade. This option only works on items that can turn into projectiles. For example, ender pearls, snowballs, eggs, and arrows all work.

                    The `grenade-power="1.0"` attribute sets the explosion power. The default value of `1.0` will not destroy blocks, but it will damage players and set off TNT.

                    The attributes `grenade-fire="true"` and `grenade-destroy="true"` determine if the explosion creates fire and/or destroys blocks.

                    `NOTE:` If an ender pearl is used as a grenade, the player will teleport to the location and the explosion will occur.


                        <item slot="1" amount="12" name="`4Grenade" grenade="true" grenade-power="1.2" material="snow ball"/>
                        <item name="`a`lRocket Ammo" amount="3" enchantment="thorns" grenade="true" grenade-power="4" grenade-fire="true" material="arrow"/>

                    <br/>
                    ### [Can-Destroy / Can-Place-On](id:can-destroy)

                    In adventure mode, no blocks can be placed or mined by default. The `<can-destroy>` element allows an item to mine a specified list of blocks.
                    The `<can-place-on>` element allows a block item to be placed against a specified list of blocks. In each case, the blocks are listed inside
                    the element, each wrapped in a `<material>` sub-element. These blocks **cannot** have damage/data values (this is a limitation of Minecraft
                    that we are unable to work around).

                    Instead of a list of blocks, you can use the `<all-blocks/>` element, which is equivalent to listing literally every block in the game.
                    In this case, you will probably want to specify `show-can-place-on="false"` or `show-can-destroy="false"` on the item to prevent a
                    massive tooltip being displayed to the player.


                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Elements
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<can-destroy> </can-destroy>')
                                %td A node containing the materials this item can destroy.
                                %td
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<can-place-on> </can-place-on>')
                                %td A node containing materials this item can be placed on.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<material> </material>')
                                %td
                                    An individual material to match.
                                    %br
                                    %i Does not accept a damage/data value.
                                %td
                                    %a{:href => "/reference/inventory#material_finder"} Material Name
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<all-blocks/>')
                                %td Match all block type materials.
                                %td
                :markdown

                        <item material="iron shovel">
                            <can-destroy>
                                <material>dirt</material>
                                <material>grass</material>
                                <material>sand</material>
                            </can-destroy>
                        </item>

                        <item material="lever">
                            <can-place-on>
                                <all-blocks/>
                            </can-place-on>
                        </item>
