.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Kill Rewards"
                :markdown
                    The `<kill-rewards>` module allows players to get items or a kit when they kill a player.
                    A kill reward can contain either individual items, kits or references to kits.
                    The reward can optionally filter which players are eligible to receive the reward, or when/where the reward is active.

                    This module can, for example, be used to give upgrades to players by giving them gold ingots.
                    Then once they have collected enough ingots they can craft armor, etc.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Kill Rewards Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<kill-rewards> </kill-rewards>')
                                %td Node containing all kill reward definitions.
                                %td
                                    %span.label.label-default Kill Reward elements
                            %tr
                                %th{:colspan => "3"} Kill Rewards Sub-elements
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<kill-reward> </kill-reward>')
                                %td
                                    A single kill reward.
                                %td
                                    %span.label.label-default Kill Reward Sub-elements
                            %tr
                                %th{:colspan => "3"} Kill Reward Attributes
                            %tr
                                %td
                                    %code filter
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Filter who can claim this reward and when.
                                %td
                                    %a{:href => "/modules/filters"} Filter
                            %tr
                                %td
                                    %code kit
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    The kit to give players as the kill reward.
                                %td
                                    %a{:href => "/modules/kits"} Kit ID
                            %tr
                                %th{:colspan => "3"} Kill Reward Sub-elements
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<item>')
                                %td
                                    Individual items given as a kill reward.
                                %td
                                    %a{:href => "/modules/items"} Item
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<filter>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    Filter who can claim this reward and when.
                                %td
                                    %a{:href => "/modules/filters"} Filters
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<kit>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    The kit to give as the reward.
                                %td
                                    %a{:href => "/modules/kits"} Kits

                :markdown
                    <br/>
                    Examples

                        <kill-rewards>
                            <!-- Give two emeralds for all kills -->
                            <kill-reward>
                                <item amount="2" material="emerald"/>
                            </kill-reward>

                            <!-- Give a cactus to players on the red team for their third kill -->
                            <kill-reward>
                                <filter>
                                    <all>
                                        <team>red</team>
                                        <kill-streak count="3"/>
                                    </all>
                                </filter>
                                <item material="cactus"/>
                            </kill-reward>
                        </kill-rewards>

                    Kill rewards with kits

                        <kill-rewards>
                            <kill-reward>
                                <kit>
                                    <item slot="0" material="iron sword"/>
                                    <helmet material="iron helmet"/>
                                    <potion amplifier="2">speed</potion>
                                </kit>
                            </kill-reward>

                            <!-- Give the "reward-kit" to the player for every 8th kill -->
                            <kill-reward>
                                <filter>
                                    <kill-streak count="8" repeat="true"/>
                                </filter>
                                <kit id="reward-kit"/>
                            </kill-reward>
                        </kill-rewards>
