.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Kits"
                :markdown
                    Kits are groups of items and effects that can be given to players in various ways. There are many types of kits, and they can be
                    packaged together in any combination.

                    Kits can be given an `id` attribute, which is used to refer to them in other places.
                    Kits can contain other kits directly, and can also inherit items from other kits through the `parents=""` attribute.

                    Some types of kits are *removable*, meaning that the kit can be automatically taken from the player as well as given. When used in certain contexts,
                    these kits will be automatically removed from the player at an appropriate time. This will be noted in the documentation where applicable.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<kit> </kit>')
                                %td A kit node, containing specific kit types and/or other kit nodes.
                :markdown
                    ##### Kit Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code id
                                %td Unique identifier used to reference this kit from other places in the XML.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code filter
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Filter when this kit is used.
                                %td
                                    %a{:href => "/modules/filters"} Filter
                                %td
                            %tr
                                %td
                                    %code parents
                                %td The kit's parent or a comma separated list of parent kits.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code force
                                %td Force apply the kit.
                                %td
                                    %span.label.label-primary true/false
                                %td
                            %tr
                                %td
                                    %code potion-particles
                                %td
                                    Enable or disable potion particles.
                                    %br
                                    %i Potion particles are disabled for all players by default.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code discard-potion-bottles
                                %td
                                    Remove potion bottles that are emptied from the players inventory.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code reset-ender-pearls
                                %td Reset any ender pearls the player might have thrown before the kit was applied.
                                %td
                                    %span.label.label-primary true/false
                                %td false

                :markdown
                    The effect of the `force` attribute depends on the type of kit it is used with:
                    conflicting items or armor will be replaced instead of smartly merged & repaired,
                    health & hunger will be set instead of only increased,
                    and potion effects can be replaced with the same effect at a lower level or shorter duration.

                        <kits>
                            <kit id="spawn" force="true">
                                <item slot="0">iron sword</item>
                                <item slot="8" amount="32">bread</item>
                                <potion duration="5" amplifier="1">heal</potion>
                            </kit>
                            <kit id="red" parents="spawn">
                                <helmet color="cd0000">leather helmet</helmet>
                            </kit>
                            <kit id="blue" parents="spawn">
                                <helmet color="0066cc">leather helmet</helmet>
                            </kit>
                        </kits>

                    In the example above players from blue team will get a blue helmet,
                    players from red team will get a red helmet; both teams will get the items from the spawn kit.
                    The spawn kit contains a 5 second healing [potion effect](/reference/potion_effects) to help prevent spawn killing.

                    <br/>
                    ### Item & Armor Kits

                    Kits can place items in specific slots of a player's inventory, and equip them with armor. See [Items & Armor](/modules/items) for details.

                    Item kits will replace any items in the player's inventory in slots present in the kit, but they will not alter any other slots.
                    If you want to guarantee that a slot is empty, put an item called "air" in that slot. You can also clear the player's entire inventory
                    before applying the kit by using one of the elements below.

                    ##### Inventory Clear Elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<clear/>')
                                %td
                                    Clear the all of the player's inventory including armor slots.
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<clear-items/>')
                                %td
                                    Clear only the player's item slots.

                :markdown

                        <kit id="ender" reset-ender-pearls="true">
                            <item slot="0" amount="1">ender pearl</item>
                            <clear/>
                        </kit>


                    <br/>
                    ### Game-mode Kit

                    A player's gamemode can be changed when they spawn or enter a region, etc. by using this kit.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<game-mode></game-mode>')
                                %td
                                    The gamemode to change the player to.
                                    %br Accepts <code>creative</code>, <code>survival</code>, <code>spectator</code>& <code>adventure</code>.
                                %td
                                    %span.label.label-default Game Mode String

                :markdown
                        <game-mode>adventure</game-mode>


                    <br/>
                    ### Health & Hunger Kits
                    A player's health and hunger can be modified with kits, this can be useful on maps with the `naturalRegeneration` [gamerule](/modules/gamerules) set to false.

                    By default health or hunger values are only increased, not decreased. For example, a player with 5 hearts (10 points) will not get a 5 health point kit applied, however a 20 point kit will be applied. This can be overwritten with a kits `force="true"` attribute.

                    ##### Health & Hunger Elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<health> </health>')
                                %td
                                    Health value in 1/2 heart increments.
                                %td
                                    %span.label.label-primary 1 - 20
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<saturation> </saturation>')
                                %td
                                    Food saturation, always equal to or less than the player's food level.
                                %td
                                    %span.label.label-primary Decimal
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<foodlevel> </foodlevel>')
                                %td
                                    Food level in 1/2 drumstick increments.
                                %td
                                    %span.label.label-primary 0 - 20

                :markdown

                        <kit id="health" force="true">
                            <health>10</health>
                        </kit>

                        <kit id="hunger">
                            <saturation>20</saturation>
                            <foodlevel>20</foodlevel>
                        </kit>

                    <br/>

                    ### Potion Kits (removable)

                    Potion effects can be applied and removed with a kit. See [Potion Effects](/modules/potions) for details.

                        <kit>
                            <potion duration="10" amplifier="4">damage resistance</potion>
                        </kit>

                    <br/>
                    ### [Attribute Modifier Kits](id:attributes) (removable)

                    Attribute modifiers can be applied directly to players through a kit. Modifying attributes in this way,
                    instead of through an item, is a simple way to ensure that the player cannot avoid the effect of
                    the modifier.

                    The only way to remove an attribute modifier is by removing the kit that applied it. A kit cannot
                    affect a modifier applied by a different kit.

                    **Attribute Operations**

                    * `add` Add amount
                    * `base` Multiply amount by base value and add it
                    * `multiply` Multiply by amount

                    ##### Attribute Kit Elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<attribute> </attribute>')
                                %td
                                    %a{:href => "/reference/attributes"} Attribute name
                :markdown
                    ##### Attribute Kit Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code amount
                                %td Numeric parameter
                                %td
                                    %span.label.label-primary Decimal
                                %td
                            %tr
                                %td
                                    %code operation
                                %td Modifier operation
                                %td
                                    %span.label.label-primary add / base / multiply
                                %td
                                    %code add
                :markdown
                        <kit>
                            <attribute operation="add" amount="0.5">generic.movementSpeed</attribute>
                        </kit>

                    <br/>
                    ### Walk Speed Kit (removable)
                    Increase or decrease a player's walking speed. The value is a multiplier of the normal walking speed.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<walk-speed> </walk-speed>')
                                %td
                                    Increase or decrease a player's walking speed.
                                %td
                                    %span.label.label-primary 0 - 5.0

                :markdown

                        <kit id="rabbit">
                            <!-- 1.8 times faster than a normal player -->
                            <walk-speed>1.8</walk-speed>
                        </kit>

                        <kit id="tortoise">
                            <!-- half as fast as a normal player -->
                            <walk-speed>0.5</walk-speed>
                        </kit>

                    <br/>
                    ### Knockback Reduction Kit (removable)
                    Reduce (or increase) the knockback players receive when they have this kit applied.
                    The normal input range is `0 - 1.0`. If the value is greater than one the knockback will be increased,
                    and anything lower than zero pushes the player to the attacker instead of away from them.
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<knockback-reduction> </knockback-reduction>')
                                %td
                                    Knockback reduction amount
                                %td
                                    %span.label.label-primary Number
                :markdown

                        <kit>
                            <knockback-reduction>0.5</knockback-reduction>
                        </kit>


                    <br/>
                    ### Double Jump Kit (removable)
                    Give players with this kit the ability to double-jump.
                    This element's enabled attribute can be used to disable double-jump inside regions, etc.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<double-jump/>')
                                %td Give player the double-jump ability.
                :markdown
                    ##### Double-Jump Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code enabled
                                %td
                                    Enable or disable double-jump.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code power
                                %td
                                    Power of the double jump (a normal player jump is about 1)
                                %td
                                    %span.label.label-primary Number
                                %td 3
                            %tr
                                %td
                                    %code recharge-time
                                %td
                                    Recharge time till the player can double jump again.
                                %td
                                    %a{:href => "/reference/time_periods"} Time Period
                                %td 2.5s
                            %tr
                                %td
                                    %code recharge-before-landing
                                %td
                                    Player starts recharging before they land from their previous jump.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                :markdown
                        <kit>
                            <double-jump recharge-before-landing="true"/>
                        </kit>

                    <br/>
                    ### Fly Kit (removable)
                    The fly kit gives players which it is applied to the ability to fly.
                    It also allows modification of the speed at which they fly.
                    If no attributes are specified can-fly defaults to true.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<fly/>')
                                %td Control the player's flying ability
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code can-fly
                                %td
                                    Set if the player can fly.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code flying
                                %td
                                    Set if the player is currently flying.
                                    %br
                                    %i
                                        To enable flying
                                        %code can-fly
                                        can not be set to false.
                                %td
                                    %span.label.label-primary true/false
                                %td
                            %tr
                                %td
                                    %code fly-speed
                                %td
                                    Set the fly speed multiplier.
                                %td
                                    %span.label.label-primary 0 - 10
                                %td 1

                :markdown
                        <kit id="fly">
                            <fly/>                    <!-- Allow player to fly -->
                            <fly can-fly="false"/>    <!-- Don't allow player to fly -->
                            <fly flying="true"/>      <!-- Make the player fly right away -->
                            <fly flying="false"/>     <!-- Make the player stop flying right away -->
                        </kit>

