.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Kits"
                :markdown
                    Kits are used when spawning and in healing / special item zones. See [items](/modules/items) for information on how to give items or items with special properties, and [potion effects](/reference/potion_effects) for information on how to give potion effects. Kits can inherit items from other kits by using the `parents=""` attribute. They are referenced by their `id=""` from [spawns](/modules/spawns) and [regions](/modules/regions).

                    Note that by default a kit will not empty a inventory but rather overwrite specific slots. If you want to guarantee that a slot is empty use air with an amount of 0 as the material for that slot. A player's whole inventory or part of it can also be cleared by using one of the clear elements.

                    ##### Kit Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %code id
                                %td Unique identifier used to reference this kit from other places in the XML.
                                %td
                                    %span.label.label-primary String
                            %tr
                                %td
                                    %code filter
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Filter when this kit is used.
                                %td
                                    %a{:href => "/modules/filters"} Filter
                            %tr
                                %td
                                    %code parents
                                %td The kit's parent or a comma separated list of parent kits.
                                %td
                                    %span.label.label-primary String
                            %tr
                                %td
                                    %code force
                                %td Force apply the kit.
                                %td
                                    %span.label.label-primary true/false
                            %tr
                                %td
                                    %code potion-particles
                                %td
                                    Enable or disable potion particles.
                                    %br
                                    %i Potion particles are disabled for all players by default.
                                %td
                                    %span.label.label-primary true/false
                            %tr
                                %td
                                    %code reset-ender-pearls
                                %td Reset any ender pearls the player might have thrown before the kit was applied.
                                %td
                                    %span.label.label-primary true

                :markdown
                    The force attribute will act differently for the individual sub-elements. If force is true, conflicting items or armor will be replaced instead of smartly merged & repaired, health & hunger will be set instead of only increased, and potion effects will be replaced instead of only non-existent effects added.

                        <kits>
                            <kit id="spawn" force="true">
                                <item slot="0">iron sword</item>
                                <item slot="8" amount="32">bread</item>
                                <potion duration="5" amplifier="1">heal</potion>
                            </kit>
                            <kit id="red" parents="spawn">
                                <helmet color="cd0000">leather helmet</helmet>
                            </kit>
                            <kit id="blue" parents="spawn">
                                <helmet color="0066cc">leather helmet</helmet>
                            </kit>
                        </kits>

                    In the example above players from blue team will get a blue helmet, players from red team will get a red helmet; both teams will get the items from the spawn kit. The spawn kit contains a 5 second healing [potion effect](/reference/potion_effects) to help prevent spawn killing.


                    A player's inventory can be cleared before the kit is applied by using one of the inventory clear elements in the kit.

                    ##### Inventory Clear Elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<clear/>')
                                %td
                                    Clear the all of the player's inventory including armor slots.
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<clear-items/>')
                                %td
                                    Clear only the player's item slots.

                :markdown

                        <kit id="ender" reset-ender-pearls="true">
                            <item slot="0" amount="1">ender pearl</item>
                            <clear/>
                        </kit>


                    <br/>
                    ### Health & Hunger Kits
                    A player's health and hunger can be modified with kits, this can be useful on maps with the `naturalRegeneration` [gamerule](/modules/gamerules) set to false.

                    By default health or hunger values are only increased, not decreased. For example, a player with 5 hearts (10 points) will not get a 5 health point kit applied, however a 20 point kit will be applied. This can be overwritten with a kits `force="true"` attribute.

                    ##### Health & Hunger Elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<health></health>')
                                %td
                                    Health value in 1/2 heart increments.
                                %td
                                    %span.label.label-primary 1 - 20
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<saturation></saturation>')
                                %td
                                    Food saturation, always equal to or less than the player's food level.
                                %td
                                    %span.label.label-primary Decimal
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<foodlevel></foodlevel>')
                                %td
                                    Food level in 1/2 drumstick increments.
                                %td
                                    %span.label.label-primary 0 - 20

                :markdown

                        <kit id="health" force="true">
                            <health>10</health>
                        </kit>

                        <kit id="hunger">
                            <saturation>20</saturation>
                            <foodlevel>20</foodlevel>
                        </kit>

                    <br/>
                    ### Walk Speed Kit
                    Increase or decrease a player's walking speed. The specified value is a multiplier of the default walking speed of `0.2`.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<walk-speed></walk-speed>')
                                %td
                                    Increase or decrease a player's walking speed.
                                %td
                                    %span.label.label-primary 0 - 5.0

                :markdown

                        <kit id="rabbit">
                            <!-- 1.8 times faster than a normal player -->
                            <walk-speed>1.8</walk-speed>
                        </kit>

                        <kit id="tortoise">
                            <!-- half as fast as a normal player -->
                            <walk-speed>0.5</walk-speed>
                        </kit>

                    <br/>
                    ### Knockback Reduction Kit
                    Reduce (or increase) the knockback players receive when they have this kit applied. The normal input range is `0 - 1.0`. If the value is greater than one the knockback will be increased, and anything lower than zero pushes the player to the attacker instead of away from them.

                        <kit id="knockback-re">
                            <knockback-reduction>0.5</knockback-reduction>
                        </kit>


                    <br/>
                    ### Double Jump Kit
                    Give players with this kit the ability to double-jump. This elements enabled attribute can be used to disable double-jump inside regions, etc.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code enabled
                                %td
                                    Enable or disable double-jump.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code power
                                %td
                                    Power of the double jump (a normal player jump is about 1)
                                %td
                                    %span.label.label-primary Number
                                %td 3
                            %tr
                                %td
                                    %code recharge-time
                                %td
                                    Recharge time till the player can double jump again.
                                %td
                                    %a{:href => "/reference/time_periods"} Time Period
                                %td 2.5s
                            %tr
                                %td
                                    %code recharge-before-landing
                                %td
                                    Player starts recharging before they land from their previous jump.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                :markdown
                        <kit id="jump">
                            <double-jump/>
                        </kit>

                        <double-jump recharge-before-landing="true"/>

                    <br/>
                    ### Fly Kit
                    The fly kit gives players which it is applied to the ability to fly. It also allows modification of the speed at which they fly. If no attributes are specified can-fly defaults to true.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code can-fly
                                %td
                                    Set if the player can fly.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code flying
                                %td
                                    Set if the player is currently flying.
                                    %br
                                    %i
                                        To enable flying
                                        %code can-fly
                                        can not be set to false.
                                %td
                                    %span.label.label-primary true/false
                                %td
                            %tr
                                %td
                                    %code fly-speed
                                %td
                                    Set the fly speed multiplier.
                                %td
                                    %span.label.label-primary 0 - 10
                                %td 1

                :markdown
                        <kit id="fly">
                            <fly/>                <!-- can-fly = true, flying = not set -->
                        </kit>

                        <fly flying="false"/>     <!-- can-fly = true,  flying = false -->
                        <fly can-fly="false"/>    <!-- can-fly = false, flying = not set  -->
                        <fly flying="true"/>      <!-- can-fly = true,  flying = true  -->
