.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Lanes"
                :markdown
                    Lanes are used in RFW style maps with two parallel lanes for the teams. They prevent players from leaving their teams lane and entering the enemies.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %span.highlight
                                        %code= html_escape('<lanes> </lanes>')
                                %td Node containing this world's lanes.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %span.highlight
                                        %code= html_escape('<lane> </lane>')
                                %td
                                    A single lane definition.
                                %td
                                    %a{:href => "/modules/regions"} Regions

                %h5 Lane Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %code team
                                %td
                                    %span.label.label-danger Required
                                    The team the lane belongs to and in which they have to stay inside.
                                %td
                                    %a{:href => "/modules/teams"} Team ID

                :markdown
                    Example

                        <lanes>
                            <lane team="blue">
                                <region id="blue-lane-total"/>
                                <region id="blue-spawn-rooms"/>
                            </lane>
                            <lane team="red">
                                <region id="red-lane-total"/>
                                <region id="red-spawn-rooms"/>
                            </lane>
                        </lanes>
