.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead General
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Main Map Element"
                :markdown
                    Every map XML file must contain the base `<map>` module. It contains modules that specify the map name, version, objective, authors, contributors and all other map settings. The objective is the text that players see when they join the match, and so it's important for this to be very clear, concise, and informative.

                    The `proto=""` attribute specifies what PGM version the XML file was created for. If this value is higher than the version of PGM that is running, the map won't load. If it's lower, the map will load but the XML may be interpreted in an outdated way. Mapmakers should always use the latest supported XML version, and this may be required of new maps that are to be added to the Overcast Network rotations.

                    The maps version should follow the versioning schema `major.minor.patch`.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Map Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<map> </map>')
                                %td
                                    The main map node containing all the modules used in this match.
                                %td
                                    %span.label.label-default XML Modules

                %h5 Map Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code proto
                                %td
                                    %span.label.label-danger Required
                                    The maps XML protocol version.
                                %td
                                    %code #{$map_proto}
                                %td
                            %tr
                                %td
                                    %code game
                                %td A custom title for this match's gamemode.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code internal
                                %td Prevent compass teleports above Y 255
                                %td
                                    %span.label.label-primary true/false
                                %td false

                %h5 Map Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<name>')
                                %td
                                    %span.label.label-danger Required
                                    The name of the map.
                                %td
                                    %span.label.label-primary String
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<version>')
                                %td
                                    %span.label.label-danger Required
                                    The map's
                                    %a{:href => "http://semver.org"} semantic version
                                    string.
                                %td
                                    %span.label.label-primary 1.0.0
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<objective>')
                                %td
                                    %span.label.label-danger Required
                                    The map's objective, shown at the start of the match.
                                %td
                                    %span.label.label-primary String
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<authors>')
                                %td
                                    %span.label.label-danger Required
                                    The authors of the map, at least one author is required.
                                %td
                                    %code= html_escape('<author>')
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<contributors>')
                                %td
                                    Contributors to the map.
                                %td
                                    %code= html_escape('<contributor>')
                :markdown

                        <?xml version="1.0"?>
                        <map proto="#{$map_proto}">
                        <name>Map Name</name>
                        <version>1.0.0</version>
                        <objective>Short description about the maps objective.</objective>

                        <!-- Map authors & contributors. -->

                        <!-- Map modules, i.e. objectives, regions, spawns. -->

                        </map>

                :markdown
                    <br/>
                    #### Authors & Contributors
                    The authors and contributers elements provide information about who created and helped create the map. There can be multiple authors and contributors to a map. The contribution attribute should be used to specify what their contribution to the map was.

                    A players name should **not** be used to credit them, instead their UUID should be used. A UUID is a unique user identifier that is used to keep track of players even if they change their name. You can check player UUID's at [mcuuid.net](http://mcuuid.net). If an author or contributor is defined without a UUID that player will not get any mapmaker perks on the map.


                %h5 Author or Contributor Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<author>')
                                %td
                                    %span.label.label-danger Required
                                    A major author of the map, used in
                                    %code= html_escape('<authors>')
                                    %br
                                    %i At least one map author is required.
                                %td
                                    %span.label.label-primary String
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<contributor>')
                                %td
                                    A contributor to the map. used in
                                    %code= html_escape('<contributors>')

                                %td
                                    %span.label.label-primary String

                %h5 Author & Contributor Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %code contribution
                                %td The contribution this author or contributor made to the map.
                                %td
                                    %span.label.label-primary String
                            %tr
                                %td
                                    %code uuid
                                %td UUID used to identify a player.
                                %td
                                    %span.label.label-primary String

                :markdown

                        <!-- Major map authors. -->
                        <authors>
                            <author>aPerson</author>
                            <author uuid="ef4ea031-998f-4ec9-b7b6-1bdd428bcef8" contribution="Clarification of element usage, etc."/> <!-- Plastix -->
                            <author uuid="260004f0-996b-4539-ba21-df4ee6336b63"/> <!-- Elliott_ -->
                        </authors>

                        <!-- People that contributed in some way to the map. -->
                        <contributors>
                            <contributor uuid="f00685de-0236-4992-b811-5418767e482d" contribution="Some Help"/> <!-- Contributors Name -->
                        </contributors>
