.container
    .jumbotron.subhead
        %h1= @page_title = "Modules"
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Mob Spawning"
                :markdown
                    By default PGM disables all mob spawning. The mobs module allows this behavior to be customized to allow spawning of specific mobs. It uses special [filters](/modules/filters) to deny / allow specific mobs and spawn methods.

                    #####  Mob Spawning Filter Matchers
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<spawn>spawn_reason</spawn>')
                                %td Spawn event reason.
                                %td
                                    %a{:href=>"http://jd.bukkit.org/rb/doxygen/d6/d38/enumorg_1_1bukkit_1_1event_1_1entity_1_1CreatureSpawnEvent_1_1SpawnReason.html"}Bukkit Spawn Reason
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<mob>mob_name</mob>')
                                %td The mob to filter.
                                %td 
                                    %a{:href=>"http://jd.bukkit.org/doxygen/da/d7e/enumorg_1_1bukkit_1_1entity_1_1CreatureType.html"}Bukkit Creature Type
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<entity>entity_name</entity>')
                                %td The entity to filter.
                                %td
                                    %a{:href=>"http://jd.bukkit.org/rb/doxygen/d7/dbf/enumorg_1_1bukkit_1_1entity_1_1EntityType.html"}Bukkit Entity Type

                :markdown

                    Examples

                        <!-- Only allow mobs to spawn from monster spawners. -->
                        <mobs>
                            <filter>
                                <spawn>spawner</spawn>
                            </filter>
                        </mobs>


                    Example from [Cake Wars](http://maps.oc.tc/DTC/Standard/Cake%20Wars/map.xml).

                        <mobs>
                            <filter parents="deny-all">
                                <allow>
                                    <!-- Only allow cave spiders to be spawned with spawn eggs -->
                                    <mob>cave spider</mob>
                                    <spawn>spawner egg</spawn>
                                </allow>
                            </filter>
                        </mobs>
