.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Monument Modes"
                :markdown
                    This module can be used to customize the modes that cores and destroyables cycle through, and at what duration they do so. When a monuments mode changes its material is usually changed from a hard to a soft block.

                    The `<modes>` tag can contain any number of `<mode>` tags with different durations. Each `<mode>` has configurable characteristics that define it.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %span.highlight
                                        %code= html_escape('<modes> </modes>')
                                %td Node containing the monument modes for this match.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %span.highlight
                                        %code= html_escape('<mode/>')
                                %td An individual monument mode.
                                %td
                                    %span.label.label-default None

                %h5 Mode Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code after
                                %td
                                    %span.label.label-danger Required
                                    Time from the start of the game till this mode takes effect.
                                %td
                                    %a{:href => "/reference/time_periods"} Time Period
                                %td
                            %tr
                                %td
                                    %code material
                                %td
                                    %span.label.label-danger Required
                                    Material the core/destroyable changes to.
                                %td
                                    %a{:href => "/reference/inventory#material_matchers"} Single Material Pattern
                                %td
                            %tr
                                %td
                                    %code name
                                %td Custom mode name, used for the mode change notice.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code show-before
                                %td
                                    The time before a mode is over to show it in the BossBar.<br/>
                                    If show-before is set to 0 the mode is not shown in the BossBar at all.
                                %td
                                    %a{:href => "/reference/time_periods"} Time Period
                                %td
                                    60 sec
                :markdown
                    Example

                        <modes>
                            <mode after="10m" material="gold block"/>
                        </modes>

                    This specifies a mode that will change the material of affected objectives to gold block after 10 minutes of gameplay.

                        <modes>
                            <mode after="5m" material="coal block" name="`eEASY MODE"/>
                        </modes>

                    This specifies a mode that will change the material of affected objectives to coal block after 10 minutes of gameplay, with the following chat message: `> > > EASY MODE < < <`

                    `NOTE:` In order for an objective to change modes, it must have `mode-changes="true"` in its element tag.

                        <destroyables name="Monument" materials="obsidian" mode-changes="true">
                            <!-- destroyables... -->
                        </destroyable>
