.container
    .jumbotron.subhead
        %h1= @page_title = "Modules"
        %p.lead Filters & Regions
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Portals"
                :markdown
                    Portals teleport a player that enters the specified region to an exact location, by a certain offset amount or to a random location inside a region.

                    The position and direction attributes of a portal are relative to the players location and where they are looking. Prefix these values with an at symbol `@` to specify absolute values. Portals can be restricted to certain teams by defining their `filter=""` attribute.

                    `TIP:` Copy the yaw from the F3 screen in minecraft (labeled as `f`).

                    ##### Portal Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code x
                                    ,
                                    %code y
                                    ,
                                    %code z
                                %td Offset the players <code>X,Y,Z</code> position by the amount specified.
                                %td
                                    %span.label.label-primary Number
                                %td
                            %tr.danger{:title => "Required, either the attribute or sub-element is required"}
                                %td
                                    %code region
                                %td
                                    Region where this portals entrance is located.
                                    %br
                                    %i 
                                        Can be either this attribute or a  
                                        %code= html_escape('<region>')
                                        sub-element.
                                %td
                                    %a{:href => "/modules/regions"} Region
                                %td
                            %tr
                                %td
                                    %code filter
                                %td Filter player access.
                                %td
                                    %a{:href => "/modules/filters"} Filter Name
                                %td
                            %tr
                                %td
                                    %code sound
                                %td Play the portal sound
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code protect
                                %td Protect the portal entrance and exit regions.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code bidirectional
                                %td Creates a dual-linked portal that goes both ways. This can only be used when all coordinates and directions are relative. 
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code yaw
                                %td Specify the direction the player is looking horizontally from -180&deg; to 180&deg;.<br/><i>South 0, East -90, North 180 and West 90.</i>
                                %td
                                    %span.label.label-primary Number
                                %td
                            %tr
                                %td
                                    %code pitch
                                %td Specify the direction the player is looking vertically from -90&deg; to 90&deg;.<br/><i>-90 is straight up 90 is straight down.</i>
                                %td
                                    %span.label.label-primary Number
                                %td

                %h5 Portal Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value
                        %tbody
                            %tr.danger{:title => "Required, either the attribute or sub-element is required"}
                                %td
                                    %pre
                                        %code= html_escape('<region>')
                                %td 
                                    Region where this portals entrance is located.
                                    %br
                                    %i
                                        Can also be specified in the
                                        %code region
                                        attribute of the portal.
                                %td
                                    %a{:href => "/modules/regions"} Regions
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<destination>')
                                %td 
                                    Destination of the portal, teleports players to a random point inside the region.
                                    %br
                                    %i Region is automatically filtered against block place.
                                %td
                                    %a{:href => "/modules/regions"} Regions

                :markdown
                    <br/>
                    Examples

                        <!-- Portals from Harb -->
                        <portals>
                            <!-- Adds 110 to the players X position, Y, Z, pitch & yaw remain unchanged -->
                            <portal x="110">
                                <region><cuboid min="-56,33,-1" max="-55,35,2"/></region>
                            </portal>
                            <!-- Subtracts 110 from the players X position, Y, Z, pitch & yaw remain unchanged -->
                            <portal x="-110">
                                <region><cuboid min="56,33,-1" max="57,35,2"/></region>
                            </portal>
                        </portals>

                        <portals>
                            <!-- Moves the player to exactly X:10 Y:8 Z:45, pitch & yaw remain unchanged -->
                            <portal x="@10" y="@8" z="@45">
                                <region><cuboid min="-56,33,-1" max="-55,35,2"/></region>
                            </portal>

                            <!-- Adds 12 to the players Z position, turning them to face east and 10° up -->
                            <portal z="12" pitch="@10" yaw="@-90">
                                <region><cuboid min="-56,33,-1" max="-55,35,2"/></region>
                            </portal>

                            <!-- Teleport the player from portal-entrance to a random point inside portal-exit -->
                            <portal region="portal-entrance">
                                <destination><region name="portal-exit"/></destination>
                            </portal>
                        </portals>
