.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Custom Projectiles"
                :markdown
                    Custom projectile types can be defined and applied to items in [kits](/modules/kits).
                    These items effectively become either weapons that shoot the custom projectile,
                    or the item form of the custom projectile itself.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Projectiles Element
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<projectiles> </projectiles>')
                                %td Node containing the custom projectile definitions.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<projectile> </projectile>')
                                %td
                                    A custom projectile definition.
                                %td
                                    %span.label.label-default Projectile Sub-elements


                %h5 Projectile Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th{style: "min-width: 150px;"} Attribute
                                %th Description
                                %th{style: "min-width: 100px;"} Value
                                %th{style: "min-width: 100px;"} Default
                        %tbody
                            %tr
                                %td
                                    %code id
                                %td Unique identifier used to reference this projectile from other places in the XML.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code name
                                %td The display name of this projectile, used in "shot by" messages, etc.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code throwable
                                %td
                                    Items are consumed when using them to shoot this projectile
                                    (making them more like grenades than guns).
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code projectile
                                %td The entity this projectile is materialized as.
                                %td
                                    %a{:href=>"/reference/entity_types"} Entity Type
                                %td
                                    %span.label.label-default Arrow
                            %tr
                                %td
                                    %code damage
                                %td The amount of damage this projectile deals.
                                %td
                                    %span.label.label-primary Half-hearts
                                %td 0.0
                            %tr
                                %td
                                    %code velocity
                                %td The speed at which the projectile moves.
                                %td
                                    %span.label.label-primary Meters/tick
                                %td 1.0
                            %tr
                                %td
                                    %code click
                                %td
                                    The click action that fires the projectile.
                                    %br
                                    Accepts <code>right</code>, <code>left</code> or <code>both</code>.
                                %td
                                    %span.label.label-primary Click Action
                                %td
                                    %code both
                            %tr
                                %td
                                    %code effects
                                %td The potion effects to apply to players hit by this projectile.
                                %td
                                    %a{:href => "/modules/potions"} Potion Effect
                                %td
                            %tr
                                %td
                                    %code destroy-filter
                                %td
                                    %span.label.label-default{:title => "Can be this attribute or a sub-element."} Property
                                    Filter if/what blocks get destroyed when hit with this projectile.
                                %td
                                    %a{:href => "/modules/filters"} Filter
                                %td
                                    %code deny-all
                            %tr
                                %td
                                    %code cooldown
                                %td Minimum time between each firing of this projectile.
                                %td
                                    %a{:href => "/reference/time_periods"} Time Period
                                %td

                %h5 Projectile Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<destroy-filter>')
                                %td
                                    %span.label.label-default{:title => "Can be this sub-element or an attribute."} Property
                                    Filter if/what blocks get destroyed when hit with this projectile.
                                %td
                                    %a{:href => "/modules/filters"} Filters
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<effect>')
                                %td A potion effect to apply to players hit by this projectile.
                                %td
                                    %a{:href => "/modules/potions"} Potion Effect

                :markdown
                        <!-- Create the projectile "template" -->
                        <projectiles>
                            <projectile
                                id="lazer"
                                name="lazer"
                                projectile="Snowball"
                                velocity="3.5"
                                damage="50"
                                throwable="false"
                                cooldown="5s"/>
                        </projectiles>

                        <!-- Apply the projectile to an item -->
                        <kits>
                            <kit name="lazer-kit">
                                <item projectile="lazer" name="`alazer gun" material="stick"/>
                            </kit>
                        </kits>


                    <br/>
                    ### Modifying Bow Projectiles

                    Bows can be modified to shoot a different projectile at a custom speed. The PGM plugin will calculate the damage the projectile does using the same formula as minecraft does for arrows. This means that a flying fish with a velocity of 40 will almost certainly kill you. Projectiles can also have custom [potion effects](/modules/potions) which are applied to the target when it is hit.

                    `NOTE:` You can currently only modify all bow projectiles, this means no normal and custom bow at the same time.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Projectiles Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<modifybowprojectile> </...>')
                                %td Node containing the modify bow projectile settings.
                                %td
                                    %span.label.label-default Bow Projectile Sub-elements
                            %tr
                                %td{:colspan => "3"}
                                    %b Sub-elements
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<projectile> </projectile>')
                                %td
                                    The entity to use as the bows projectile.
                                %td
                                    %a{:href=>"/reference/entity_types"} Entity Type
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<velocityMod> </velocityMod>')
                                %td
                                    The velocity modifier of the bows projectile.
                                %td
                                    %span.label.label-primary Number
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<effect> </effect>')
                                %td
                                    A potion effect to apply to players hit by the bow projectile.
                                %td
                                    %a{:href => "/modules/potions"} Potion Effect

                :markdown
                    Examples

                        <modifybowprojectile>
                            <projectile>EnderPearl</projectile>
                            <velocityMod>2.5</velocityMod>

                            <!-- Projectile potion effect -->
                            <effect duration="5" amplifier="1">poison</effect>
                        </modifybowprojectile>

                        <modifybowprojectile>
                            <effect duration="8" amplifier="1">wither</effect>
                        </modifybowprojectile>


                    All the following projectiles are guaranteed to work. See [mrapple/Bukkit Entity Spawning.md](https://gist.github.com/4617111) for a list of tested entities.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Supported Entity Types
                                %th
                                %th
                        %tbody
                            %tr
                                %td
                                    %code Arrow
                                %td
                                    %code Egg
                            %tr
                                %td
                                    %code EnderPearl
                                %td
                                    %code Fireball
                            %tr
                                %td
                                    %code LargeFireball
                                %td
                                    %code SmallFireball
                            %tr
                                %td
                                    %code Snowball
                                %td
                                    %code ThrownExpBottle
                            %tr
                                %td
                                    %code WitherSkull
                                %td
                                    %code TNTPrimed
