.container
    .jumbotron.subhead
        %h1= @page_title = "Information"
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Protocol Versions"

                %h4 Changes in 1.4.0
                %ul.changelog
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            Filters, regions, and kits now use `id` instead of `name`. <br/>
                            Keep in mind that IDs are all in the same namespace, so you can **not** use the same ID for two different types of thing.
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            Team have a `id` attribute and are always referenced by it everywhere in the XML, **never** by name.
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            Standalone filter definitions are no longer wrapped in a `<filter>` tag, they start with an actual filter, just like regions, e.g.

                                <filters>
                                    <team id="only-red">red-team</team>
                                </filters>
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            The region for an `<apply>` must be either a `region` attribute or a `<region>` sub-element.
                            It cannot appear directly inside the `<apply>` tag.
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            Inline filters must always be a single tag, multiple tags are not accepted anywhere.
                            To combine multiple filters, always use a compound filter like `<all>` or `<any>`.
                            This change is retroactive, and affects _all_ proto versions.
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            There is no longer a filter type called `<block>`, use `<material>` instead. `<block>` is always interpreted as a region.
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            The old built-in filters are gone, and there are only two new ones: `always` which is equivalent to `allow-all`, and `never` which is equivalent to `deny-all`. <br/>
                            All of the new built-ins have equivalent tags of the same name i.e. `<always/>` & `<never/>`.
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            Filters can no longer have parents.
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            `<allow>` and `<deny>` can now be used anywhere a filter is expected, and actually function how they were supposed to i.e. they cause the filter to be ignored (skipped over) if it does not match.
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            Blitz or Ghost Squadron titles are no longer a part of the blitz module, instead they are set as a attribute of the `<map>` element and can be used with any gamemode.
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            Match time limit is no longer part of the `<score>` or `<blitz>` module, instead it is defined directly in the root <map> element.

                                <map proto="1.4.0">
                                <time result="objectives">5m</time>

                                <!-- Other modules. -->
                                </map>

                    %li
                        %hr
                    %li
                        %span.label.label-primary Change
                        :markdown
                            The top-level tags `<filters>` and `<regions>` are now the same thing.
                            You can define filters, regions, and `<apply>`s in either one (remember that regions are a type of filter, have been for a while now).
                    %li
                        %span.label.label-primary Change
                        :markdown
                            Any filter tag anywhere can have an `id` attribute.
                    %li
                        %span.label.label-primary Change
                        :markdown
                            The `<apply>` tag accepts both references and inline definitions for its `region`, `kit`, and all of its filter properties, e.g. the two tags below are equivalent:

                                <apply region="effect-pad" kit="effect-kit" filter="only-red" block="only-leaves" />

                                <apply>
                                    <region>
                                        <cuboid min="1,2,3" max="4,5,6"/> <!-- effect-pad -->
                                    </region>
                                    <kit>
                                        <potion>...</potion> <!-- effect-kit -->
                                    </kit>
                                    <filter>
                                        <team>red-team</team>
                                    </filter>
                                    <block>
                                        <material>leaves</material>
                                    </block>
                                </apply>

                    %li
                        %hr
                    %li
                        %span.label.label-success New
                        :markdown
                            There is a new half-space region type that contains everything on one side of an arbitrary plane.
                            The plane is defined by an origin point and a normal vector, and the region contains everything on the side of the plane that the normal is pointing towards.
                            The example below defines a region with a diagonal boundary:

                                <half origin="5,0,0" normal="1,1,0"/>
                    %li
                        %span.label.label-success New
                        :markdown
                            Two new region types `<above>` and `<below>` can be used to conveniently define axis-aligned half-spaces:

                                <above y="50"/>         <!-- everything above Y=50 -->
                                <below x="0" z="0"/>    <!-- everything in the -X, -Z quadrant -->
                    %li
                        %span.label.label-success New
                        :markdown
                            There are two built-in regions called `everywhere` and `nowhere` that contain all points and no points, respectively. <br/>
                            All of the new built-ins have equivalent tags of the same name i.e. `<everywhere/>` & `<nowhere/>`.
                    %li
                        %span.label.label-success New
                        :markdown
                            A team can have a minimum required size with the `min=""` attribute.
                    %li
                        %span.label.label-success New
                        :markdown
                            Objectives have a `required` attribute that specifies if they are required to complete the match.
                    %li
                        %span.label.label-success New
                        :markdown
                            A players gamemode can be changed by using the new `<game-mode> </game-mode>` kit.
                    %li
                        %span.label.label-success New
                        :markdown
                            New world border module that can be used to create a shifting and/or auto resizing world border.
                    %li
                        %span.label.label-success New
                        :markdown
                            Support added for block punch and trample `<block-drops>`.
                    %li
                        %span.label.label-success New
                        :markdown
                            Custom item crafting recipe module.
                    %li
                        %span.label.label-success New
                        :markdown
                            All items of a specific type can be modified for the whole match using the `<item-mods>` module.
                    %li
                        %span.label.label-success New
                        :markdown
                            Teamless gamemodes with the `<players/>` module.
                    %li
                        %span.label.label-success New
                        :markdown
                            Heads can be given to players in kits with the `<head>` element.


                %br
                %h4 Changes in 1.3.6
                %ul.changelog
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            Regions for cores, destroyables, wools, portals & score boxes **must** be defined in a `<region>` sub-element or referenced in a `region` attribute.

                                <core>
                                    <region>
                                        <cuboid min="..." max="..."/>
                                    </region>
                                </core>

                                <core region="my-region"/>

                            Similarly spawn regions **must** be defined in a `<regions>` sub-element or referenced in a `regions` attribute.

                                <spawns>
                                    <spawn team="red">
                                        <regions yaw="90">
                                            <cuboid min="1,0,2" max="3,0,4"/>
                                            <cylinder base="7,8,9" radius="5" height="0"/>
                                        </regions>
                                    </spawn>
                                </spawns>
                    %li
                        %span.label.label-danger Breaking
                        :markdown
                            Everything scores 0 points by default, this means you have to explicitly define `<kills>` and `<deaths>` in the score module if you want players to get points for killing players.


                %br
                %hr
                %h4 Versions
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th{:style => "width: 80px;"} Version
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %code 1.4.0
                                %td
                                    Filters/regions/teams are always referenced by ID
                                    %br
                                    Disallow
                                    %code= html_escape('<time>')
                                    inside
                                    %code= html_escape('<score>')
                                    or
                                    %code= html_escape('<blitz>')
                                    &amp; disallow
                                    %code= html_escape('<title>')
                                    inside
                                    %code= html_escape('<blitz>')
                                    %br
                                    Required objectives
                            %tr
                                %td
                                    %code 1.3.6
                                %td
                                    Move all defining elements out of module xml root
                                    %br
                                    Everything scores zero points by default
                            %tr
                                %td
                                    %code 1.3.5
                                %td
                                    Filters know who owns TNT
                            %tr
                                %td
                                    %code 1.3.4
                                %td
                                    Wools have a location property
                            %tr
                                %td
                                    %code 1.3.3
                                %td
                                    Define how overlapping regions behave
                            %tr
                                %td
                                    %code 1.3.2
                                %td
                                    Monument modes
                            %tr
                                %td
                                    %code 1.3.1
                                %td
                                    Off-by-one region bug fixed.
