.container
    .jumbotron.subhead
        %h1= @page_title = "Modules"
        %p.lead Filters & Regions
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Proximity Alarms"
                :markdown
                    Proximity alarms can be used to alert players when an enemy enters a specified area. Flares will go off around the protected area, with the color of the detected player's team, and all allied players will receive an alert message with sound.

                    The proximity-alarm message is sent only to players who _cannot_ be detected, i.e. those who do not match the detection filter. If this attribute is missing no message will be sent, which means that only players who can see or hear the flares will know when the alarm is tripped.

                    Flares will only be set off if a `flare-radius=""` is defined. If this attribute is missing a message must be specified to alert players. This is how the alarm can be made "silent", so that enemies may not realize that they have been detected.

                    ##### Proximity-alarm Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                        %tbody
                            %tr.danger{:title => "Required, either the attribute or sub-element is required"}
                                %td
                                    %code region
                                %td
                                    The region this alarm applies to.
                                    %br
                                    %i 
                                        Can be either this attribute or a 
                                        %code= html_escape('<region>')
                                        sub-element.
                                %td
                                    %a{:href => "/modules/regions"} Region
                            %tr
                                %td
                                    %code message
                                %td Message to show in chat when a player is detected.
                                %td
                                    %span.label.label-primary String
                            %tr
                                %td
                                    %code flare-radius
                                %td Radius of the circular area to show flares in, centered on the proximity-alarm region.
                                %td
                                    %span.label.label-primary Number

                %h5 Proximity-alarm Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr.danger{:title => "Required, either the attribute or sub-element is required"}
                                %td
                                    %pre
                                        %code= html_escape('<region>')
                                %td
                                    The region this alarm applies to, treated as a region union.
                                    %br
                                    %i
                                        Can also be specified in the
                                        %code region
                                        attribute of the proximity-alarm.
                                %td
                                    %a{:href => "/modules/regions"} Regions
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<detect>')
                                %td Filter who gets detected by the proximity alarm.
                                %td
                                    %a{:href => "/modules/filters"} Filter

                :markdown

                    Example

                        <proximity-alarms>
                            <proximity-alarm message="Enemy detected at Blue monument!" flare-radius="4">
                                <region>
                                    <cylinder base="27.5,119,-26.5" radius="7.5" height="15"/>
                                </region>
                                <detect>
                                    <team>red</team>
                                </detect>
                            </proximity-alarm>
                        </proximity-alarms>
