.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Block Behavior
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Renewables"
                :markdown
                    This module can create regions in which destroyed or altered blocks will gradually be restored to their original state.

                    The `<renewables>` tag can contain any number of `<renewable>` tags. Each `<renewable>` can use a region and a filter to
                    specify blocks to renew. If neither are specified, the renewable affects all blocks in the world.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %span.highlight
                                        %code= html_escape('<renewables> </renewables>')
                                %td Node containing this map's renewable block rules.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %span.highlight
                                        %code= html_escape('<renewable>')
                                %td An individual renewable block rule.
                                %td
                                    %span.label.label-default Renewable Sub-elements

                %h5 Renewable Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th{:style => "min-width: 130px;"} Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code region
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Region in which blocks will be renewed.
                                %td
                                    %a{:href => "/modules/regions"} Region
                                %td Everywhere
                            %tr
                                %td
                                    %code renew-filter
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Filter which blocks are renewed.
                                %td
                                    %a{:href => "/modules/filters"} Filter
                                %td Everything
                            %tr
                                %td
                                    %code replace-filter
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Filter which blocks can be replaced by renewing blocks.
                                %td
                                    %a{:href => "/modules/filters"} Filter
                                %td Everything
                            %tr
                                %td
                                    %code shuffle-filter
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Filter which renewable blocks are shuffled.
                                %td
                                    %a{:href => "/modules/filters"} Filter
                                %td Nothing
                            %tr
                                %td
                                    %code rate
                                %td
                                    :markdown
                                        Approximate number of blocks that will be restored per second. This rate applies to the
                                        renewable as a whole, which means the time required for any single block to renew will
                                        depend on how many other blocks are waiting to be renewed by the same renewable.
                                    %i This parameter cannot be combined with
                                    %code interval
                                %td Blocks/second
                                %td 1
                            %tr
                                %td
                                    %code interval
                                %td
                                    :markdown
                                        Average time required for a block to renew. Unlike `rate`, this applies to each block
                                        individually, and blocks do not affect each other's renewal time. A renewable with an
                                        `interval` can behave very differently from a renewable with a `rate`, particularly
                                        if it is large.
                                    %i This parameter cannot be combined with
                                    %code rate
                                %td
                                    %a{:href => "/reference/time_periods"} Time Period
                                %td
                            %tr
                                %td
                                    %code grow
                                %td
                                    Only allow blocks to be restored adjacent to other blocks that are already renewed,
                                    or not renewable. If set to false, blocks will be restored at completely random locations,
                                    even in mid-air.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code particles
                                %td
                                    Show block restore particle effects.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code sound
                                %td
                                    Play block restore sound effects.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code avoid-players
                                %td
                                    Prevent blocks from being restored within this distance of any player.
                                %td meters
                                %td 2

                %h5 Renewable Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %span.highlight
                                        %code= html_escape('<region>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    The region the renewable applies to.
                                %td
                                    %a{:href => "/modules/regions"} Bounded Regions
                            %tr
                                %td
                                    %span.highlight
                                        %code= html_escape('<renew-filter>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    Filter which blocks are renewed.
                                %td
                                    %a{:href => "/modules/filters"} Filters
                            %tr
                                %td
                                    %span.highlight
                                        %code= html_escape('<replace-filter>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    Filter which blocks are replaced.
                                %td
                                    %a{:href => "/modules/filters"} Filters
                            %tr
                                %td
                                    %span.highlight
                                        %code= html_escape('<shuffle-filter>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    Filter which blocks are shuffled.
                                %td
                                    %a{:href => "/modules/filters"} Filters

                :markdown
                    By default, all blocks in the region are renewable. The `<renew-filter>` sub-element can be used inside the `<renewable>` to specify only particular blocks to renew.

                    The `<replace-filter>` element specifies which block types are allowed to be replaced by renewing blocks. Any other type of block in the renewable region will obstruct the renewal process. By default, any block can be replaced.

                    Normally, blocks will be restored to their exact state when the map was loaded. If some block types are specified in
                    `<shuffle-filter>` element, blocks of those types in the original region will be restored to a block type chosen at random from
                    the shuffleable types. The approximate proportions of block types from the original region will be preserved.

                        <renewables>
                            <renewable rate="2.5" grow="true" particles="true" sound="true" avoid-players="4">
                                <region>
                                    <cylinder base="0,117,0" radius="6" height="13"/>
                                </region>
                                <!-- These are the blocks that will renew -->
                                <renew-filter>
                                    <any>
                                        <material>iron ore</material>
                                        <material>glowstone</material>
                                        <material>stone</material>
                                    </any>
                                </renew-filter>
                                <!-- These blocks can be replaced by renewing blocks -->
                                <replace-filter>
                                    <any>
                                        <material>air</material>
                                        <material>lava</material>
                                        <material>stationary lava</material>
                                    </any>
                                </replace-filter>
                                <!-- These blocks will switch with each other when they renew -->
                                <shuffle-filter>
                                    <any>
                                        <material>stone</material>
                                        <material>iron ore</material>
                                    </any>
                                </shuffle-filter>
                            </renewable>
                        </renewables>
