.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            - @page_nav_content = [
            - {"path" => "#repair", "name" => "Tool Repair"},\
            - {"path" => "#remove", "name" => "Item Remove"},\
            - {"path" => "#item_keep", "name" => "Item Keep"},\
            - {"path" => "#armor_keep", "name" => "Armor Keep"}]
            = partial('modules_sidebar')

            .col-sm-9
                .page-header
                    %h1
                        = partial('page_nav_dropdown')
                        = @page_sub_title = "Repair, Remove & Keep"

                :markdown
                    ### [Tool Repair](id:repair)
                    Defines tools that will be automatically repaired when dropped and picked up again. This will also merge items that are picked up, i.e., picking up an iron sword would result in it merging with your sword and repairing it. Repaired items will keep their enchantment, unlike vanilla minecraft where they will not.

                    This also works with non-tool items such as arrows. When people pick up item in the `<toolrepair>` module and they already have one of the same kind it gets merged into the existing item, if they don't have it they get it like normal. Repairing arrows instead of removing them has the advantage of the player being able to accidental drop one and not lose it.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<toolrepair> </toolrepair>')
                                %td
                                    A node containing all the tools that will be repaired when picked up.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<tool> </tool>')
                                %td
                                    A single tool that will be repaired, can be anything with durability.
                                %td
                                    %a{:href => "/reference/inventory#material_matchers"} Material Name

                :markdown
                    Example

                        <toolrepair>
                            <tool>iron sword</tool>
                            <tool>bow</tool>
                        </toolrepair>


                    <br/>
                    ### [Item Remove](id:remove)
                    Defines items that will be deleted when dropped on the map. Also works when items are destroyed, such as seeds from tall grass, etc.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<itemremove> </itemremove>')
                                %td
                                    A node containing all the items that will be removed when dropped.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<item> </item>')
                                %td The item that will be removed when dropped.
                                %td
                                    %a{:href => "/reference/inventory#material_matchers"} Material Name

                :markdown
                    Example

                        <itemremove>
                            <item>arrow</item>
                            <item>cooked fish</item>
                            <item>diamond helmet</item>
                            <item>iron chestplate</item>
                        </itemremove>


                    <br/>
                    ### [Item Keep](id:item_keep)
                    Defines items that will be kept on death. If there is a spawn kit, kept items will be given back *after* the kit is applied, except for equipped armor, which will replace any armor in the kit.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<itemkeep> </itemkeep>')
                                %td
                                    A node containing all the items kept when respawning.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<item> </item>')
                                %td The item that will remain in a player's inventory when they die and respawn.
                                %td
                                    %a{:href => "/reference/inventory#material_matchers"} Material Name

                :markdown
                    Example

                        <itemkeep>
                            <item>diamond sword</item>
                            <item>tnt</item>
                        </itemkeep>


                    <br/>
                    ### [Armor Keep](id:armor_keep)
                    Similar to `<itemkeep>` except that the specified items are only kept if they are equipped in an armor slot.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th{:style => "min-width: 210px;"} Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<armorkeep> </armorkeep>')
                                %td
                                    A node containing all the
                                    %b equipped
                                    armor kept when respawning.
                                %td
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<item> </item>')
                                %td A equipped armor item that will remain in a player's inventory when they die and respawn.
                                %td
                                    %a{:href => "/reference/inventory#material_matchers"} Material Name

                :markdown
                    Example

                        <armorkeep>
                            <item>iron helmet</item>
                            <item>iron chestplate</item>
                            <item>iron leggings</item>
                            <item>iron boots</item>
                        </armorkeep>
