.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Scoring"
                :markdown
                    The score module can be used to give matches a time or score limit and modify how many points are added to the score for each kill or death. It can also be used to create score boxes that give a player or team a certain amount of points when they enter it.

                    ##### Score Elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Type
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<time>')
                                %td
                                    Length of the match, after this time period the team with the highest score wins.
                                %td
                                    %a{:href => "/reference/time_periods"} Time Period
                                %td
                                    No limit
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<limit>')
                                %td
                                    Max score that can be reached before the match ends.
                                %td
                                    %span.label.label-primary String
                                %td
                                    No limit
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<kills>')
                                %td
                                    Points to <strong>give</strong> to a team for killing an enemy player
                                %td
                                    %span.label.label-primary Number
                                %td
                                    0
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<deaths>')
                                %td
                                    Points to <strong>deduct</strong> from a team for the <strong>accidental</strong> death of a team member
                                %td
                                    %span.label.label-primary Number
                                %td
                                    0
                :markdown
                    ##### Example

                        <score>
                            <!-- First team to 100 points wins the match -->
                            <limit>100</limit>

                            <!-- +3 points for a kill -->
                            <kills>3</kills>

                            <!-- -2 points for dying -->
                            <deaths>2</deaths>
                        </score>


                    <br/>
                    ### [Score Boxes](id:score_box)
                    A score box will give points to a players team when they enter the score box region. [Portals](/modules/portals) should be setup to remove the player from the immediate vicinity of the score box to prevent multiple scores.

                    ##### Score Box Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Type
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code region
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    %span.label.label-danger Required
                                    The location and size of the score box.
                                %td
                                    %a{:href => "/modules/regions"} Region
                                %td
                            %tr
                                %td
                                    %code points
                                %td Points awarded for entering the box.
                                %td
                                    %span.label.label-primary Number
                                %td 0
                            %tr
                                %td
                                    %code filter
                                %td Filter who can score in this box.
                                %td
                                    %a{:href => "/modules/filters"} Filter Name
                                %td No filter

                %h5 Score Box Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<region>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    %span.label.label-danger Required
                                    The region where this score box is located.
                                %td
                                    %a{:href => "/modules/regions"} Regions

                    :markdown
                        ##### Example

                            <score>
                                <!-- Only allow red team to use this score box, and give them two points -->
                                <box points="2" filter="only-red">
                                    <region><cylinder base="21,8,63" radius="1" height="2"/></region>
                                </box>
                            </score>

                            <score>
                                <box value="8" filter="cyan" region="cyan-scorebox"/>
                            </score>

                        <br/>
                        #### Redeemables
                        A score box can also award points in exchange for particular items carried by the player when they
                        enter the box. The `<box>` element can have a `<redeemables>` sub-element containing any number of
                        `<item>` elements. Each `<item>` contains a
                        [material name](/reference/inventory#material_finder)
                        and an optional `points="..."` attribute specifying the number of points awarded for each item.

                        ##### Example

                            <score>
                                <box filter="only-red" region="red-depot">
                                    <redeemables>
                                        <item points="5">diamond</item>
                                        <item points="3">emerald</item>
                                        <item points="1">gold nugget</item>
                                    </redeemables>
                                </box>
                            </score>
