.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Scoring"
                :markdown
                    The score module can be used to give matches a score limit and modify how many points are added to the score for each kill or death. It can also be used to create score boxes that give a player or team a certain amount of points when they enter it.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Score Element
                                %th Description
                                %th
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<score> </score>')
                                %td{:colspan => "3"} Node containing the score settings and score boxes.
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value/Children
                                %th Default
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<limit>')
                                %td
                                    Max score that can be reached before the match ends.
                                %td
                                    %span.label.label-primary String
                                %td
                                    No limit
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<kills>')
                                %td
                                    Points to <strong>give</strong> to a team for killing an enemy player
                                %td
                                    %span.label.label-primary Number
                                %td
                                    0
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<deaths>')
                                %td
                                    Points to <strong>deduct</strong> from a team for the <strong>accidental</strong> death of a team member
                                %td
                                    %span.label.label-primary Number
                                %td
                                    0
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<box>')
                                %td
                                    A single score box.
                                %td
                                    %a{:href => "#score_box"} Score Box
                                %td

                :markdown
                    Example

                        <score>
                            <!-- First team to reach 100 points wins the match -->
                            <limit>100</limit>

                            <kills>3</kills> <!-- +3 points for every kill -->
                            <deaths>2</deaths> <!-- -2 points for accidentally dying -->
                        </score>


                    <br/>
                    #### [Score Boxes](id:score_box)
                    A score box will give points to a players team when they enter or bring a redeemable item to the score box region. [Portals](/modules/portals) should be setup to remove the player from the immediate vicinity of the score box to prevent multiple scores.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Score Box Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<box>')
                                %td
                                    A single score box.
                                %td
                                    %span.label.label-default Score Box Sub-elements

                %h5 Score Box Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Type
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code points
                                %td Points awarded for entering the box.
                                %td
                                    %span.label.label-primary Number
                                %td 0
                            %tr
                                %td
                                    %code region
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    %span.label.label-danger Required
                                    The location and size of the score box.
                                %td
                                    %a{:href => "/modules/regions"} Region
                                %td
                            %tr
                                %td
                                    %code filter
                                %td
                                    %span.label.label-default{:title => "Can be either this attribute or a sub-element."} Property
                                    Filter who can score in this box.
                                %td
                                    %a{:href => "/modules/filters"} Filter
                                %td
                                    %span.label.label-default No Filter

                %h5 Score Box Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<redeemables>')
                                %td
                                    Items that can be redeemed at this score box for points.
                                %td
                                    %code= html_escape('<item points="1">')
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<region>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    %span.label.label-danger Required
                                    The region where this score box is located.
                                %td
                                    %a{:href => "/modules/regions"} Regions
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<filter>')
                                %td
                                    %span.label.label-default{:title => "Can be either this sub-element or an attribute."} Property
                                    Filter who can score in this box.
                                %td
                                    %a{:href => "/modules/regions"} Filters

                :markdown
                    Example

                        <score>
                            <!-- Only allow red team to use this score box, and give them two points -->
                            <box points="2" filter="only-red">
                                <region><cylinder base="21,8,63" radius="1" height="2"/></region>
                            </box>
                        </score>

                        <score>
                            <box value="8" filter="cyan" region="cyan-scorebox"/>
                        </score>

                    <br/>
                    #### Redeemables
                    A score box can also award points in exchange for particular items carried by the player when they
                    enter the box. These items are defined inside a `<redeemables>` score box sub-element as `<item>` tags.
                    Each item contains a [material name](/reference/inventory#material_finder)
                    and an optional `points="..."` attribute specifying the number of points awarded for each item.

                    Example

                        <score>
                            <box filter="only-red" region="red-depot">
                                <redeemables>
                                    <item points="5">diamond</item>
                                    <item points="3">emerald</item>
                                    <item points="1">gold nugget</item>
                                </redeemables>
                            </box>
                        </score>


                    <br/>
                    ### [Time Limit](id:timeLimit)
                    Give the match a time limit, the result attribute determines how the winning team or player is calculated when the time runs out.
                    Result can be the name of a team, or one of the special values; "tie" for no winner, or "objectives" for the team that has the most objectives completed. The time limit can be specified in minutes, etc., by formatting it as a [time period](/reference/time_periods).

                    `NOTE!` This tag is **not** placed inside the score module, instead it is located in the root `<map>` element.

                        <time result="objectives">5m</time>

                    ##### Time Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Type
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code result
                                %td
                                    Change how the winning team or player is calculated.
                                    %br
                                    Accepts <code>default</code>, <code>tie</code>, <code>objectives</code> or a Team ID.
                                %td
                                    %span.label.label-primary Victory Condition
                                    |
                                    %span.label.label-primary Team ID

                                %td default
                            %tr
                                %td
                                    %code show
                                %td Show the remaining time in the chat and boss bar.
                                %td
                                    %span.label.label-primary true/false
                                %td true
