.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Filters & Regions
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Spawns"
                :markdown
                    The spawns module is a required in a complete map XML because it specifies where players and observers can spawn. Default and observer spawns are defined with the `<default>` element and all other spawns in `<spawn>` elements. Only one default spawn element should be defined per map.

                    To allow players to spawn at a bed set the main spawns bedspawn attribute to true. Players spawning at beds will not spawn with a kit even if there is one specified. If a player has a bed spawn location set it overrides all other spawn regions for that player.

                    Multiple spawns from the same team can be grouped inside of a single `<regions>` element inside `<spawns team="team name">`. Spawn positions are picked randomly inside of the defined regions. Since the plugin will not validate the spawn position by default, regions should be checked to make sure that they don't intersect with solid objects or are midair. Spawns can also be defined with the `safe="true"` attribute, PGM will then check that the player spawns on a solid object and not midair.

                    The regions element accepts more than one region or region area. If they are not inside a `<union>` element one region will be picked at random for each spawn event.

                    Auto respawn and respawn delays for all players can be specified with the [auto-respawn](/modules/other_settings#autoRespawn) module.

                    ##### Spawns Element Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code bedspawn
                                %td Allow players to change their spawn point to a bed.
                                %td
                                    %span.label.label-primary true/false
                                %td false

                %h5 Spawns Element Sub-elements
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value/Children
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<spawn>')
                                %td The spawn where a team will spawn
                                %td
                                    %code= html_escape('<regions>')
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<default>')
                                %td
                                    The spawn for observers and teams without a spawn.
                                    %br
                                    %i Only one default spawn element is allowed per map.
                                %td
                                    %code= html_escape('<regions>')
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<regions>')
                                %td
                                    The region or regions where players will spawn. Used inside
                                    %code= html_escape('<spawn>')
                                    or
                                    %code= html_escape('<default>')
                                %td
                                    %a{:href => "/modules/regions"} Regions

                %h5 Spawn & Default Element Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code team
                                %td The team this spawn applies to.
                                %td
                                    %a{:href => "/modules/teams"} Team Name
                                %td
                            %tr
                                %td
                                    %code safe
                                %td Validate that the player spawns in a safe location.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code sequential
                                %td
                                    Spawns players at the next region in a list if the one prior to it isn't safe.
                                    %br
                                    %i Requires the <code>safe</code> attribute set to true.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %code kit
                                %td The kit to apply to players when they are spawned in this spawn.
                                %td
                                    %a{:href => "/modules/kits"} Kit Name
                                %td
                            %tr
                                %td
                                    %code filter
                                %td Filter when this spawn is used.
                                %td
                                    %a{:href => "/modules/filters"} Filter
                                %td

                %h5 Regions Element Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code angle
                                %td
                                    The exact block coordinates that the player looks at when spawned.
                                    %br
                                    %i This attribute will negate any angles set by the <code>yaw</code> and <code>pitch</code> attributes.
                                %td
                                    %span.label.label-primary X,Y,Z
                                %td
                            %tr
                                %td
                                    %code yaw
                                %td
                                    The horizontal angle the player looks to when spawned.
                                    %br
                                    %i South 0, East -90, North 180 and West 90.
                                %td
                                    %span.label.label-primary -180 to 180
                                %td
                                    0
                            %tr
                                %td
                                    %code pitch
                                %td
                                    The vertical angle the player looks to when spawned.
                                    %br
                                    %i -90 is straight up 90 is straight down.
                                %td
                                    %span.label.label-primary -90 to 90
                                %td
                                    0


                :markdown
                    `TIP:` Copy the yaw and pitch from the F3 screen in minecraft (the `Facing: Direction (Axis) (Yaw/Pitch)` line).

                    Example

                        <spawns>
                            <spawn team="red" kit="red">
                                <regions yaw="90">
                                    <cuboid min="-2,13,71" max="-9,13,78"/>
                                </regions>
                            </spawn>
                            <spawn team="blue" kit="blue">
                                <regions yaw="-90">
                                    <cuboid min="2,13,-71" max="9,13,-78"/>
                                </regions>
                            </spawn>
                            <default>
                                <regions yaw="0">
                                    <cuboid min="-1,16,-1" max="2,20,2"/>
                                </regions>
                            </default>
                        </spawns>

                %p
                    %a.btn.btn-primary.btn-xs.btn-more.collapsed{:'data-target' => "#collapse-spawn-examples", :'data-toggle' => "collapse"} Examples
                %div.collapse{:id => "collapse-spawn-examples"}
                    :markdown
                            <!-- Example spawns from Assualt -->
                            <spawns>
                                <spawn team="blue" kit="blue">
                                    <regions yaw="-90">
                                        <region name="blue-spawn"/>
                                    </regions>
                                </spawn>
                                <spawn team="red" region="red-spawn" kit="red">
                                    <regions yaw="90">
                                        <region name="red-spawn"/>
                                    </regions>
                                </spawn>
                                <default kit="obs">
                                    <regions yaw="-135">
                                        <region name="obs-spawn"/>
                                    </regions>
                                </default>
                            </spawns>

                            <spawns safe="true" sequential="true">
                                <spawn team="blue" kit="blue" yaw="180">
                                    <regions>
                                        <cuboid min="-10,71,5" max="12,126,27"/> <!-- Players will spawn here first -->
                                        <cuboid min="-10,6,5" max="12,6,27"/> <!-- Secondary spawn if the first isn't available -->
                                        <point>1,8,0</point> <!-- Tertiary spawn if all other team spawns aren't safe -->
                                    </regions>
                                </spawn>
                                <spawn team="red" kit="red" yaw="0">
                                    <regions>
                                        <cuboid min="-10,71,-27" max="12,126,-5"/>
                                        <cuboid min="-10,6,-27" max="12,6,-5"/>
                                        <point>1,8,0</point>
                                    </regions>
                                </spawn>
                            </spawns>
