.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "TNT"
                :markdown
                    You can modify TNT explosion & placing behavior with this module. Destruction of terrain can be easily disabled with the blockdamage element. If it is set to `false` the yield element will have no effect since there won't be any block drops. TNT damage can be further limited with the [disable damage module](/modules/disabledamage#block_explosion).

                    By default dispensers containing TNT will ignite their TNT when exploded. This behavior can be customized with the `<dispenser-tnt-limit>` and `<dispenser-tnt-multiplier>` elements, setting either of these to 0 will disable it.

                    If licensing is enabled only players with a TNT license can use TNT. This license is revoked if a player kills too many of their teammates using TNT.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                                %th
                        %tbody
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<tnt> </tnt>')
                                %td{:colspan => "3"} Node containing the custom TNT settings.
                            %tr
                                %th{:colspan => "2"} Sub-elements
                                %th Value
                                %th Default
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<instantignite>')
                                %td Instantly ignite TNT when placed.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<blockdamage>')
                                %td Specify if TNT destroys the terrain.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<yield>')
                                %td
                                    Modify the amount of items dropped by the explosion as a percentage.<br/>
                                    %i Not valid when <code>blockdamage</code> is false.
                                %td
                                    %span.label.label-primary 0 - 1.0
                                %td
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<power>')
                                %td
                                    Modify the explosions block radius.
                                %td
                                    %span.label.label-primary 0 - 20.0
                                %td

                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<fuse>')
                                %td
                                    Time till the TNT explodes once it is ignited.
                                %td
                                    %a{:href => "/reference/time_periods"} Time Period
                                %td
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<dispenser-tnt-limit>')
                                %td
                                    Max amount of TNT a dispenser ignites when exploded.
                                %td
                                    %span.label.label-primary 0 - 64
                                %td 16
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<dispenser-tnt-multiplier>')
                                %td
                                    Multiplier for the amount of TNT ignited when a dispenser is exploded.
                                %td
                                    %span.label.label-primary 0 - 2.0
                                %td 0.25
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<licensing>')
                                %td
                                    TNT usage is restricted to players who are licensed.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %pre
                                        %code= html_escape('<friendly-defuse>')
                                %td
                                    Players may defuse TNT placed by their teammates.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                :markdown
                    Examples

                        <tnt>
                            <instantignite>on</instantignite>
                            <fuse>2s</fuse>
                        </tnt>

                        <tnt>
                            <dispenser-tnt-limit>8</dispenser-tnt-limit>
                            <dispenser-tnt-multiplier>1</dispenser-tnt-multiplier>
                        </tnt>
