.col-sm-3
    - if !@page_nav_content.nil? and !@page_nav_content.empty?
        .sidebar.hidden-xs{:style => "margin-bottom: 20px;"}
            %ul.nav.nav-pills.nav-stacked.docs-nav-pills
                - if !@page_sub_title.nil?
                    %li
                        %h4 #{@page_sub_title}
                - @page_nav_content.each do |item|
                    - if item.kind_of?(Hash)
                        %li{:class => (current_page.include?("#{item['path']}") ? "active" : "")}
                            %a{:href => "#{item['path']}"} #{item['name']}
                    - elsif item.kind_of?(String)
                        %li
                            %h4 #{item}

    - @sidebar_nav_title = "XML Modules"
    - @sidebar_nav_content = [\
    - "General",\
    - {"path" => "/modules/main", "name" => "Main Map Element"},\
    - {"path" => "/modules/includes_conditionals", "name" => "Includes & Conditionals"},\
    - "Information",\
    - {"path" => "/modules/tutorial", "name" => "Tutorial"},\
    - {"path" => "/modules/broadcasts", "name" => "Alerts & Tips"},\
    - {"path" => "/modules/rules", "name" => "Special Rules"},\
    - "Environment",\
    - {"path" => "/modules/world", "name" => "World & Terrain"},\
    - {"path" => "/modules/time", "name" => "Time & Dimension"},\
    - {"path" => "/modules/border", "name" => "World Border"},\
    - {"path" => "/modules/mobs", "name" => "Mob Spawning"},\
    - "Format",\
    - {"path" => "/modules/players", "name" => "Players (free-for-all)"},\
    - {"path" => "/modules/teams", "name" => "Teams"},\
    - "Objectives",\
    - {"path" => "/modules/gamemode_ctw", "name" => "Capture the Wool"},\
    - {"path" => "/modules/gamemode_ctf", "name" => "Capture the Flag"},\
    - {"path" => "/modules/control_points", "name" => "Control Points"},\
    - {"path" => "/modules/gamemode_dtm", "name" => "Destroy the Monument"},\
    - {"path" => "/modules/gamemode_dtc", "name" => "Destroy the Core"},\
    - {"path" => "/modules/monument_modes", "name" => "Monument Modes"},\
    - {"path" => "/modules/gamemode_blitz", "name" => "Blitz"},\
    - {"path" => "/modules/scoring", "name" => "Scoring"},\
    - {"path" => "/modules/gamemode_other", "name" => "Other Game Modes"},\
    - "Mechanics",\
    - {"path" => "/modules/filters", "name" => "Filters"},\
    - {"path" => "/modules/regions", "name" => "Regions"},\
    - {"path" => "/modules/spawns", "name" => "Spawns"},\
    - {"path" => "/modules/portals", "name" => "Portals"},\
    - {"path" => "/modules/proximity_alarms", "name" => "Proximity Alarms"},\
    - {"path" => "/modules/lanes", "name" => "Lanes"},\
    - {"path" => "/modules/damage", "name" => "Damage"},\
    - {"path" => "/modules/gamerules", "name" => "Gamerules"},\
    - "Gear",\
    - {"path" => "/modules/items", "name" => "Items & Armor"},\
    - {"path" => "/modules/potions", "name" => "Potion Effects"},\
    - {"path" => "/modules/kits", "name" => "Kits"},\
    - {"path" => "/modules/classes", "name" => "Classes"},\
    - {"path" => "/modules/pickups", "name" => "Pickups"},\
    - {"path" => "/modules/item_mods", "name" => "Item Mods"},\
    - {"path" => "/modules/crafting", "name" => "Crafting Recipes"},\
    - {"path" => "/modules/repair_remove_keep", "name" => "Repair, Remove & Keep"},\
    - {"path" => "/modules/projectiles", "name" => "Projectiles"},\
    - {"path" => "/modules/tnt", "name" => "TNT"},\
    - {"path" => "/modules/killreward", "name" => "Kill Rewards"},\
    - "Blocks",\
    - {"path" => "/modules/blockdrops", "name" => "Block Drops"},\
    - {"path" => "/modules/falling_blocks", "name" => "Falling Blocks"},\
    - {"path" => "/modules/renewables", "name" => "Renewables"},\
    - {"path" => "/modules/structures", "name" => "Structures"},\
    - ]

    .well.well-sm
        Current map proto is
        %a{:href => "/modules/proto"} #{MapProto()}
    = partial('sidebar')
