.btn-group.subnav.visible-xs
    %button.btn.btn-primary.btn-block.subnav-btn.dropdown-toggle{:type => "button", :"data-toggle" => "dropdown"}
        #{@sidebar_nav_title}
        %i.fa.fa-fw.fa-caret-down
    %ul.dropdown-menu.subnav-dropdown{:role => "menu", :"style" => "width: 100%;"}
        - @sidebar_nav_content.each_with_index do |item, index|
            - if item.kind_of?(Hash)
                %li{:class => (current_page.include?("#{item['path']}") ? "active" : "")}
                    %a{:href => "#{item['path']}"}
                        - if item['icon']
                            %i.fa.fa-fw{:class => "#{item['icon']}"}
                        = item['name']
            - elsif item.kind_of?(String)
                - if index != 0
                    %li.divider
                %li.dropdown-header #{item}

.sidebar.hidden-xs
    %ul.nav.nav-pills.nav-stacked.docs-nav-pills
        - @sidebar_nav_content.each do |item|
            - if item.kind_of?(Hash)
                %li{:class => (current_page.include?("#{item['path']}") ? "active" : "")}
                    %a{:href => "#{item['path']}"}
                        - if item['icon']
                            %i.fa.fa-fw{:class => "#{item['icon']}"}
                        = item['name']
            - elsif item.kind_of?(String)
                %li
                    %h4 #{item}
